#media-find
	width: 300px
	margin: 0 0 20px 0
	padding: 0 0 0 10px

	&__square
		width: 260px
		padding: 20px 20px 20px 20px

	&__picture
		width: 80px
		height: 100px
		margin: 0 20px 0 0

	&__row
		width: 160px
		margin: 0 0 20px 0

		h1
			line-height 28px
			font-size: 16px

	&__row2
		width: 160px

		h3
			width 80px
			line-height 28px
			font-size: 16px

	&__paragraph
		margin: 20px 0 0 0

		p
			font-size 14px
			line-height 31px
