#community-squares
	margin 0 0 50px 0

.community-square
	padding 24px 20px 38px 20px

	&__row
		width 100%

		img
			width: 335px
			height 188px
			margin 0 0 20px 0

		h3
			margin 0 0 15px 0
			font-size 18px

		p
			width 100%
			margin 0 0 15px 0
			font-size 15px
			line-height 28px

	&__buttonholder
		padding 10px 0
		width 320px

	&__button
		width 150px
		height 36px

		h4
			font-size 16px
			line-height 36px
