#cookie
	&__content
		margin 0 0 20px 0
		padding-top 20px

	&__container
		width 420px

	&__icon
		margin-right 18px
		font-size 31px

	&__title
		height 31px
		margin-bottom 14px

		h1
			font-size 21px

	&__paragraph
		width 350px
		margin-bottom 26px

		p
			font-size 15px
			line-height 25px

	&__check
		margin-right 12px
		font-size 21px

	&__times
		margin-right 12px
		font-size 21px

	&__clouds
		height 60px

#cookie.close
	bottom -360px

.cookie-button
	height: 44px
	margin: 0 12px 0 0
	padding 0 24px

	h4
		height: 21px
		font-size 16px

.cookie-cloud
	&.a
		width 100px
		height 100px
		margin 16px 0 0 -258px

	&.b
		width 100px
		height 100px
		margin 24px 0 0 -210px

	&.c
		width 100px
		height 100px
		margin 12px 0 0 -150px

	&.d
		width 140px
		height 140px
		margin 0 0 0 -100px

	&.e
		width 100px
		height 100px
		margin 10px 0 0 -20px

	&.f
		width 100px
		height 100px
		margin 0 0 0 40px
		background $white-color

	&.g
		width 100px
		height 100px
		margin 6px 0 0 110px

	&.q
		width 100px
		height 100px
		margin 16px 0 0 160px
