.find-health
	margin 0 0 20px 0
	padding 15px 30px 30px 30px

	&__icon
		width 30px
		height 30px
		margin -30px 0 0 -48px
		font-size: 18px

	&__title
		margin-bottom: 16px

		h1
			font-size 9px
			line-height 17px

	&__versions
		margin-bottom: 16px

		h2
			font-size 12px
			line-height 20px
			margin-bottom: 16px

	&__update
		h3
			font-size 12px
			line-height 20px
			margin-bottom: 16px
