.dynamic-media-16-9
	margin-bottom: 20px

	&__full
		width: 774px

		img
			height: 435px
			margin-bottom 6px

	&__half
		width: 377px

		img
			height: 212px
			margin-bottom 6px

	&__quarter
		width: 184px

		img
			height: 103px
			margin-bottom 6px

	&__half-gap
		width: 20px
		height: 20px

	&__quarter-gap
		width: 12px
		height: 20px

	&__caption
		padding 0 10px 0 0

		p
			font-size 11px

.dynamic-media-4-3
	margin-bottom: 20px

	&__full
		width: 774px

		img
			height: 581px
			margin-bottom 6px

	&__half
		width: 377px

		img
			height: 283px
			margin-bottom 6px

	&__quarter
		width: 184px

		img
			height: 138px
			margin-bottom 6px

	&__half-gap
		width: 20px
		height: 20px

	&__quarter-gap
		width: 12px
		height: 20px

	&__caption
		padding 0 10px 0 0

		p
			font-size 11px

.dynamic-media-1-1
	margin-bottom: 20px

	&__full
		width: 774px

		img
			height: 774px
			margin-bottom 6px

	&__half
		width: 377px

		img
			height: 377px
			margin-bottom 6px

	&__quarter
		width: 184px

		img
			height: 184px
			margin-bottom 6px

	&__half-gap
		width: 20px
		height: 20px

	&__quarter-gap
		width: 12px
		height: 20px

	&__caption
		padding 0 10px 0 0

		p
			font-size 11px
