#timeline
	width 1004px
	margin-left: 20px

	&__content
		width 984px

	&__title
		padding 10px 0
		margin-bottom: 90px

		h1
			font-size 42px
			line-height 38px

	&__paragraph
		margin-bottom: 20px

		p
			margin-bottom: 10px
			font-size 20px
			line-height 25px

	&__squares
		width 984px
		margin-bottom: 20px

	&__container
		width 984px
		padding 10px 0

	&__year
		width 60px
		margin-right: 100px

		h2
			font-size 20px
			line-height 30px

	&__logo
		width 120px
		height 120px
		margin 0 0 26px 270px

		h2
			font-size 17px
			line-height 120px

	&__company
		width 984px
		margin-bottom: 16px

.timeline-actual
	padding 10px 0 10px 0

	h2
		margin-bottom: 60px
		font-size 20px
		line-height 25px

	h3
		font-size 29px
		line-height 30px

.timeline__square
	width 320px
	height 300px
	margin-right: 10px
