#lga-squares
	width 984px
	margin 0 0 20px 20px

.lga-square
	padding 20px

	&__row
		width 100%

		img
			width: 450px
			height: 253px
			margin 0 0 20px 0

		h3
			margin 0 0 15px 0
			font-size 18px
			line-height 18px

		p
			width 100%
			margin 0 0 15px 0
			font-size 15px
			line-height 28px

	&__buttonholder
		padding 10px 0
		width 400px

	&__button
		width 150px
		height 36px

		h4
			font-size 16px
			line-height 36px
