#list
	width 350px
	margin 0 0 32px 15px

.article-list
	width 345px
	padding-top: 10px
	margin-bottom: 22px

	&__image
		width 325px
		margin 0 0 10px 10px

	&__content
		width 295px
		padding 15px 25px 18px 25px

	&__title
		margin-bottom: 30px

		h1
			width 250px
			padding 10px 20px 10px 20px
			font-size 16px
			line-height 27px

	&__caption

	&__center
		margin-bottom: 7px

		h5
			font-size 14px
			line-height 14px

	&__square
		margin-bottom: 26px

		h2
			padding 8px 15px 8px 15px
			font-size 15px
			line-height 25px

		p
			font-size 15px
			line-height 27px

	&__square.price
		margin 0 24px 30px 0

	&__square.author
		margin-bottom: 30px

	&__square.category
		margin 0 50px 22px 0

	&__square.sku
		margin-bottom: 22px

	&__buttons
		width 297px

	&__button
		width 135px
		height 46px

		h4
			font-size 16px
			line-height 47px

	&__button.red
		margin 0 20px 0 0
		width 135px

.article-list-empty
	width 325px
	padding 10px
	margin 0 0 70px 0

	h1
		font-size 18px
		line-height 35px

	p
		margin-bottom: 20px
		font-size 16px
		line-height 30px


.article-list__buttonB
	width 155px

	h3
		font-size 17px
		line-height 40px

.article-list__buttonB.right
	width 155px
	margin 10px 0 0 0
