<div id="structure-container">
	<div *ngIf="googleAPILoaded | async">
		<google-map></google-map>
	</div>

	<form id="search" [formGroup]="form" novalidate="novalidate">
		<div class="search-section">
			<label id="search-department">DEPARTMENT</label>
			<div class="search-field">
				<ia-select formControlName="department" [items]="state.department.options" (change)="updateDepartment()"></ia-select>
			</div>
		</div>

		<div class="search-section">
			<label id="search-team">TEAM</label>
			<div class="search-field">
				<ia-select [ngClass]="{ disabled: !state.department.selected }" formControlName="team" [items]="state.team.options" (change)="updateTeam()"></ia-select>
			</div>
		</div>

		<div class="search-section">
			<label id="search-category">CATEGORY</label>
			<div class="search-field">
				<ia-select [ngClass]="{ disabled: !state.team.selected }" formControlName="category" [items]="state.category.options" (change)="updateCategory()"></ia-select>
			</div>
		</div>

		<div class="search-section">
			<label id="search-experience">EXPERIENCE</label>
			<div class="search-field">
				<ia-select [ngClass]="{ disabled: !state.category.selected }" formControlName="experience" [items]="state.experience.options" (change)="updateExperience()"></ia-select>
			</div>
		</div>

		<ng-container *ngIf="state.state">
			<div class="search-section">
				<label id="search-sort">SORT</label>
				<div class="search-field">
					<ia-select formControlName="sort" [items]="state.sort.options" (change)="updateSort()"></ia-select>
				</div>
			</div>

			<div class="search-section">
				<label id="search-type">TYPE</label>
				<div class="search-field">
					<ia-select formControlName="type" [items]="state.type.options" (change)="updateType()"></ia-select>
				</div>
			</div>

			<div class="search-section">
				<label id="search-office">OFFICE</label>
				<div class="search-field">
					<ia-select formControlName="office" [items]="state.office.options" (change)="updateOffice()"></ia-select>
				</div>
			</div>
		</ng-container>
	</form>

	<div id="search__tags">
		<div class="search-tag">
			<h5 (click)="resetSearchForm()">
				RESET
				<fa-icon id="search__times" [icon]="faTimes"></fa-icon>
			</h5>
		</div>
		<div class="search-tag">
			<h5 (click)="toggleSearchState()">
				ADVANCED
				<ng-container *ngIf="state.state">
					<fa-icon id="search__caret-up" [icon]="faCaretUp"></fa-icon>
				</ng-container>
				<ng-container *ngIf="!state.state">
					<fa-icon id="search__caret-down" [icon]="faCaretDown"></fa-icon>
				</ng-container>
			</h5>
		</div>
	</div>

	<div id="list">
		<div id="list__career">
			<ng-container *ngFor="let career of state.list.processed">
				<div class="list-item">
					<div class="list-item__career">
						<h1>{{ career.role }}</h1>
						<div class="list-item__holder">
							<!--				<div class="list-item__team">-->
							<!--					<h4>ROLE ID</h4>-->
							<!--					<h2>{{career.id}}</h2>-->
							<!--					&lt;!&ndash; <div class="list-item__tags">-->
							<!--					</div> &ndash;&gt;-->
							<!--				</div>-->
							<div class="list-item__team">
								<h3>LOCATION</h3>
								<h2>{{ career.office.city + ', ' + career.office.country }}</h2>
							</div>
						</div>
						<p>{{ career.content.summary }}</p>
						<p>{{ career.content.summary }}</p>
						<div class="list-item__detail">
							<div class="list-item__half">
								<h4>DEPARTMENT</h4>
								<h2>{{ career.department | titleCaseDash }}</h2>
							</div>
							<div class="list-item__half">
								<h4>TEAM</h4>
								<h2>{{ career.team | titleCaseDash }}</h2>
							</div>
							<div class="list-item__half">
								<h4>CATEGORY</h4>
								<h2>{{ career.category | titleCaseDash }}</h2>
							</div>
							<div class="list-item__half">
								<h4>EXPERIENCE</h4>
								<h2>{{ career.experience | titleCaseDash }}</h2>
							</div>
							<div class="list-item__full">
								<h4>LOCATION</h4>
								<h3>{{ career.office.city + ', ' + career.office.country }}</h3>
							</div>
						</div>
					</div>

					<div class="list-item__contact">
						<!--						<div class="list-item__square">-->
						<!--							<img src="{{ career.contact.image }}" alt="" />-->
						<!--						</div>-->
						<!--						<div class="list-item__square">-->
						<!--							<h4>NAME</h4>-->
						<!--							<h5>{{ career.contact.name.first }}</h5>-->
						<!--							<h5>{{ career.contact.name.last }}</h5>-->
						<!--						</div>-->

						<!--						<div class="list-item__square">-->
						<!--							<h4>ROLE</h4>-->
						<!--							<h5>hiring</h5>-->
						<!--							<h5>meaning</h5>-->
						<!--						</div>-->

						<div class="list-item__buttons">
							<div class="list-item__button" [routerLink]="['./', career.department, career.team, career.category, career.experience, career.clean]">
								<h6>VIEW ROLE</h6>
							</div>

							<div class="list-item__button" [routerLink]="[career.department, career.team, career.category, career.experience, career.clean, 'apply-now']">
								<h6>APPLY NOW</h6>
							</div>
						</div>
					</div>
				</div>
			</ng-container>
		</div>
		<!--		<ng-container *ngIf="(careers | websiteCareerDepartmentFilter: searchForm.get('department').value | websiteCareerTeamFilter: searchForm.get('team').value | websiteCareerRoleFilter: searchForm.get('role').value | websiteCareerTypeFilter: this.searchForm.get('type').value:buildTypes | websiteCareerLocationFilter: this.searchForm.get('location').value:buildLocations).length === 0">-->
		<!--		<ng-container *ngIf="careers.length === 0">-->
		<!--			<div id="list__empty">-->
		<!--				<h1>NOTHING MATCHES YOUR SEARCH VALUES!</h1>-->
		<!--				<p>Please feel free to contact us if you need any help or have any questions? <a href="mailto:support@interfaceagency.com">support@interfaceagency.com</a></p>-->
		<!--				<div id="list__buttons">-->
		<!--					<div class="list-button">-->
		<!--						<h2>RESET SEARCH</h2>-->
		<!--					</div>-->
		<!--					<div class="list-button">-->
		<!--						<h2>GET HELP</h2>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</ng-container>-->
	</div>
</div>
