#lga-footer

	&__container
		width 420px
		padding 20px 20px 0 20px

	&__company
		margin-bottom: 30px

	&__logo
		width 50px
		height 50px
		margin: 0 20px 10px 0

	&__brand
		width 320px
		margin-bottom: 20px

	h1
		margin-bottom: 11px
		font-size 18px
		line-height 21px

	h2
		font-size 15px
		line-height 15px

	&__address
		margin-bottom: 10px

	&__contact

	&__about

	&__cv
		margin-bottom: 42px

	&__navigation
		margin  0 0 20px 0

.lga-footer-row
	width 420px
	margin-bottom: 10px

	p
		font-size 15px
		line-height 29px

.lga-footer-address-line
	width 200px
	font-size 14px
	line-height 17px

.lga-footer-contact-line
	width 200px
	font-size 14px
	line-height 17px

.lga-footer-social

.lga-footer-social-facebook
.lga-footer-social-twitter
.lga-footer-social-instagram
	font-size 22px
	line-height 22px

.lga-footer-column
	margin: 0 70px 0 0

	&__button

		h3
			font-size: 15px
			line-height 25px
