.community-intake
	width 480px

.community-tabs
	width 234px
	height 39px
	margin-left: 120px
	background: #ccc

.community-tab
	height 38px
	padding 0 23px

	&__container
		width 300px
		height 38px

	h2
		font-size 22px
		line-height 40px

	&__check
		font-size 17px
		line-height 40px

.community-tab.active
	height 38px

.community-intake
	&__form
		width: 400px
		padding 28px 0 48px 0
		margin 0 0 44px 40px

		h1
			width 100%
			font-size 28px
			line-height 28px

	&__row
		width 400px
		margin 0 10px 20px 0px

		h1
			width 100%
			font-size 32px
			line-height 32px
			margin 0 0 20px 0

	&__title-top
		float left
		width 400px
		padding 0
		margin 0 0 8px 80px
		text-align left

	&__center
		display inline-block
		width: 400px
		margin 0

		h6
			float left
			padding 0
			margin 0
			font-size 18px
			line-height 18px

	&__title
		float left
		width 400px
		padding 0
		margin 0 0 8px 0
		text-align left

	&__input
		float left
		width 400px
		padding 0
		margin 0

		input
		select
		textarea
			font-size 22px

	&__mask--full
		width 400px

	&__buttons
		button
			width 400px
			padding 0
			margin 0
			font-size 25px

	&__confirmation
		width 400px

		h1
			padding-bottom: 24px
			font-size 28px
			line-height 28px

	&__paragraph
		width 400px

		p
			width 100%
			font-size 16px
			line-height 20px
			padding-bottom: 12px

	&__submit
		width 400px
		padding-bottom: 20px
		margin 12px 0 12px 0

		h3
			width 400px


	&__id
		width 400px

		p
			font-size 12px
