.mat-sidenav
	width 400px

.panel
	width: 230px
	min-height 100%

	&__container
		width: 190px

	&__buttons
		width 160px

		h1
			width 138px
			padding 9px 10px 6px 10px
			margin-bottom: 11px
			font-size: 14px

	&__spacer
		height 20px

	&__left
		width 26px
		height 41px

	&__close
		padding 0 4px 0 0
		margin 14px 0 0 -1px

	&__caret
		font-size 18px

	&__language
		max-height 40px
		bottom 30px
		right 120px

	&__flag
		padding 4px 18px 4px 4px

		img
			width 40px
			height 30px

	&__lang-caret
		font-size 18px
		line-height 25px
		margin 4px 0 0 10px

	&__languages
		bottom 200px
		left 40px

		img
			width 40px
			margin 0 0 4px 0

	&__holder
		max-width 40px
		padding 8px
		margin 0
