#lga-testimonials
	width 480px
	margin 0

.lga-testimonial
	margin 0
	padding 24px 20px 38px 20px

	&__image
		width 65px
		height 65px
		margin 0 10px 0 0

	p
		margin-bottom: 10px
		font-size 15px
		line-height 17px
	h6
		margin 0 40px 0 0
		font-size 16px
		line-height 17px
