$base-background-color = #fffffa
$base-background-color = #cfcfcf
$base-background-color = #D9CCBF
$base-background-color = #d6d6d6
$base-background-color = #FAF0CA
$base-background-color = #f1f1f1
//$base-background-color = #303038
//$base-background-color = #fdfaec
//$base-background-color = #e8e8e8
//$base-background-color = #f8f8f8
//$base-background-color = #d8d8d8
$base-border-color = #d8d8d8
$base-title-color = $black-color
$base-paragraph-color = #666
