$base-background-color = #fffffa
$base-background-color = #cfcfcf
$base-background-color = #D9CCBF
$base-background-color = #d6d6d6
$base-background-color = #FAF0CA
$base-background-color = #f1f1f1
//$base-background-color = #303038
//$base-background-color = #fdfaec
//$base-background-color = #e8e8e8
//$base-background-color = #f8f8f8
//$base-background-color = #d8d8d8

$base-border-color = #d8d8d8
$base-on-primary-border-color = #1e1d24
$base-on-primary-border-bottom-color = #1e1d24
$base-on-secondary-border-color = #1e1d24
$base-on-secondary-border-bottom-color = #1e1d24
$base-on-tertiary-border-color = #232228
$base-on-tertiary-border-bottom-color = #1e1d24

$base-title-color = $black-color
$base-paragraph-color = #666

$base-button-active-background-color = $primary-background-color
$base-button-active-text-color = $black-color
$base-button-active-border-color = $primary-on-base-border-color

$base-button-inactive-background-color = $primary-background-color
$base-button-inactive-text-color = #eaf1ff
$base-button-inactive-border-color = $primary-on-base-border
