:root {
	--base_background_color: #fffffa;
	--base_background_color: #cfcfcf;
	--base_background_color: #D9CCBF;
	--base_background_color: #d6d6d6;
	--base_background_color: #FAF0CA;
	--base_background_color: #f1f1f1;
	/* --base_background_color: #e2e2e0; */
	/* --base_background_color: #e8e7e6; */
	/* --base_background_color: #eeedec; */
	--base_border_color: #d8d8d8;

	/* --base_on_primary_border_bottom_color: #1e1d24; */
	/* --base_on_secondary_border_color: #1e1d24; */
	/* --base_on_secondary_border_bottom_color: #1e1d24; */
	/* --base_on_tertiary_border_color: #232228; */
	/* --base_on_tertiary_border_bottom_color: #1e1d24; */
	/* --base_on_teal_border_color: #232228; */
	/* --base_on_teal_border_bottom_color: #1e1d24; */
	/* --base_on_yellow_border_color: #232228; */
	/* --base_on_yellow_border_bottom_color: #1e1d24; */
	/* --base_on_brown_border_color: #232228; */
	/* --base_on_brown_border_bottom_color: #1e1d24; */

	--base_button_active_border: 1px solid var(--primary_on_base_border_color);
	--base_button_inactive_border: 1px solid #000;

	--base_on_primary_border: 1px solid #1e1d24;
	--base_on_secondary_border: 1px solid #1e1d24;

	--base_title_color: var(--black_color);
	--base_paragraph_color: #666;

	--base_button_active_background_color: var(--teal_color);
	--base_button_active_text_color: var(--black_color);
	--base_button_active_text_color: #fff;

	--base_button_inactive_background_color: #333;
	--base_button_inactive_text_color: #fff;

	--base_accent_active_background_color: var(--blue_color);
	--base_accent_active_background_color: var(--primary_background_color);
	/* --base_accent_active_text_color: var(--black_color);
	--base_accent_active_text_color: #fff; */
	/* --base_accent_active_border_color: var(--gold_on_base_border_color); */
	/* --base_accent_inactive_background_color: var(--primary_background_color); */
	/* --base_accent_inactive_text_color: #fff; */
	/* --base_accent_inactive_border_color: var(--primary_on_base_border_color); */
}