:root {
	--brown_background_color: #934e2d;
	--brown_background_color: #aa6442;

	/* --brown_border_color: #d8d8d8;
	--brown_on_primary_border_color: #1e1d24;
	--brown_on_primary_border_bottom_color: #1e1d24;
	--brown_on_secondary_border_color: #1e1d24;
	--brown_on_secondary_border_bottom_color: #1e1d24;
	--brown_on_tertiary_border_color: #232228;
	--brown_on_tertiary_border_bottom_color: #1e1d24;
	--brown_on_base_border_color: #232228;
	--brown_on_base_border_bottom_color: #1e1d24;
	--brown_on_teal_border_color: #232228;
	--brown_on_teal_border_bottom_color: #1e1d24;
	--brown_on_yellow_border_color: #232228;
	--brown_on_yellow_border_bottom_color: #1e1d24; */

	/* --brown_button_inactive_border_color: 1px solid var(--brown_border_color); */
	/* --brown_button_inactive_border_bottom_color: 3px solid var(--brown_bottom_border_color); */


	--brown_border_color: #89492a;
	--brown_bottom_border_color: #62341e;

	--brown_title_color: var(--white_color);
	--brown_paragraph_color: #484848;

	/* --brown_button_background_inactive_color: var(--brown_background_color); */
	/* --brown_button_background_inactive_color: var(--brown_background_color); */
	/* --brown_button_background_inactive_color: #b5795b */
	/* --brown_button_text_inactive_color: var(--white_color); */
}