/* //FORMS
$field-color: = #fff
$field-color-border: = #c2c2c2
$field-color-disabled = #e0e0e0
$field-color-disabled-border: = #c8c8c8

//ACCENTS
$bullet-color: = #777
$bullet-color-border: = 1px solid #777

$handle-color: = $black-color
$handle-border-color: = $black-border-color

// BASE
$white-color: = #FFFFFF
$white-border-color: = #b8b8b8

// FIND A HOME FOR THESE
$black-color: = #282828
$black-border-color: = #000

$grey-color: = #555
$grey-border-color: = #333

$temporary-background: = #d8d8d8

// TEXT
$color-title = #787878

// $color-title-underline
$color-underline = $teal-color

$color-label-on-primary = #e0e0e0
$color-label-on-secondary = #777

$color-title = #787878
$color-title-primary = #FFF
// $color-title-primary-border: = 1px solid $color-title
$color-title-primary-border-bottom: = 3px solid $color-title

$paragraph-color: = #666
// finish naming convention
// $paragraph-color-on-primary = #666
// $paragraph-color-on-secondary = #666

$blue-color: = #2970fa
$blue-on-primary-border-color: = #2970fa
$blue-on-primary-border-bottom-color: = #0c224b
$blue-on-secondary-border-color: = #2970fa
$blue-on-secondary-border-bottom-color: = #0c224b
$blue-on-tertiary-border-color: = #2970fa
$blue-on-base-border-color: = #2970fa
$blue-on-base-border-color-active = #2970fa
$blue-on-base-border-color-inactive = #2970fa
$blue-on-gold-border-color-active = #2970fa
$blue-on-gold-border-color-inactive = #2970fa
$blue-on-gold-border-color: = #2970fa

$blue-text-color: = #2970fa */
