:root {
	--primary-border: 1px solid var(--primary_on_base_border_color);
	--primary-on-secondary-border: 1px solid var(--primary-on-secondary-border-color);
	--primary-on-base-border: 1px solid var(--primary_on_base_border_color);
	--primary-on-base-border-active: 1px solid var(--primary_on_base_border_color-active);

	--primary-button-active-border: 1px solid var(--primary-button-active-border-color);
	--primary-button-inactive-border: 1px solid var(--primary-button-inactive-border-color);

	--primary-field-border: 1px solid var(--primary-field-border-color);
	--primary-field-border-dotted: 1px dotted var(--grey-color);
	--primary-field-border-focus: 1px solid var(--primary-field-border-color-focus);


	/* --primary_background_color: #FBFCED */
	--primary_background_color: #E1DEDB;
	--primary_background_color: #F7F4F0;
	--primary_background_color: #fbfcee;
	--primary_background_color: #fff;

	--primary-on-secondary-border-color: #1e1d24;
	--primary-on-secondary-border-bottom-color: #1e1d24;
	--primary-on-tertiary-border-color: #8a6f38;
	--primary-on-tertiary-border-bottom-color: #1e1d24;
	--primary_on_base_border_color: #d2d2d2;
	--primary-on-base-border-bottom-color: #a1a198;

	--primary-title-color: var(--white_color);
	--primary-paragraph-color: #c8c8c8;
	--primary-label-color: #888;
	--primary-option-active-color: var(--base-button-inactive-text-color);
	--primary-option-inactive-color: #a8a8a8;

	--primary-field-background-color: var(--white_color);
	--primary-field-background-color-inactive: var(--white_color);
	--primary-field-option-background-color: #e8e8e8;

	/* --primary-field-text-color: #383838; */
	--primary-field-text-color: #585858;
	--primary-field-text-color-inactive: #585858;
	--primary-field-caret-color: var(--white_color);
	--primary-field-caret-color-inactive: #585858;
	--primary-field-check-color: var(--green-color);
	--primary-field-times-color: var(--red-color);
	--primary-field-border-color: #e4e4e4;
	--primary-field-border-color-focus: var(--blue_color);
	--primary-check-color: #b4dac3;

	--primary-button-active-background-color: var(--teal_color);
	--primary-button-active-text-color: #fff;
	--primary-button-active-border-color: var(--blue-on-primary-border-color);

	--primary-button-inactive-background-color: #484848;
	--primary-button-inactive-text-color: var(--white_color);
	--primary-button-inactive-border-color: #000;

	--primary-accent-background-color: #f2f;
	--primary-accent-border-color: var(--gold-on-primary-border-color);
	--primary-accent-border-bottom-color: var(--gold-on-primary-border-bottom-color);
	--primary-accent-text-color: var(--black_color);
}