//$primary-background-color = #FBFCED
$primary-background-color = #E1DEDB
$primary-background-color = #F7F4F0
$primary-background-color = #fbfcee
$primary-border-color = #ddded1

$primary-on-secondary-border-color = #1e1d24
$primary-on-secondary-border-bottom-color = #1e1d24
$primary-on-tertiary-border-color = #8a6f38
$primary-on-tertiary-border-bottom-color = #1e1d24
$primary-on-base-border-color = #ddded1
$primary-on-base-border-bottom-color = #a1a198

$primary-title-color = $white-color
$primary-paragraph-color = #c8c8c8
$primary-label-color = #888
$primary-option-active-color = $base-button-inactive-text-color
$primary-option-inactive-color = #a8a8a8

$primary-field-background-color = $white-color
$primary-field-background-color-inactive = $white-color
$primary-field-option-background-color = #e8e8e8

//$primary-field-text-color = #383838
$primary-field-text-color = #585858
$primary-field-text-color-inactive = #585858
$primary-field-caret-color = $white-color
$primary-field-caret-color-inactive = #585858
$primary-field-check-color = $green-color
$primary-field-times-color = $red-color
$primary-field-border-color = #e4e4e4
$primary-field-border-color-focus = $blue-color
$primary-check-color = #b4dac3

$primary-button-active-background-color =  $teal-color
$primary-button-active-text-color = #666
$primary-button-active-border-color = $blue-on-primary-border-color

$primary-button-inactive-background-color = #484848
$primary-button-inactive-text-color = $white-color
$primary-button-inactive-border-color = #000

$primary-accent-background-color = $gold-color
$primary-accent-border-color = $gold-on-primary-border-color
$primary-accent-border-bottom-color = $gold-on-primary-border-bottom-color
$primary-accent-text-color = $black-color
