//$primary-background-color = #FBFCED
$primary-background-color = #E1DEDB
$primary-background-color = #F7F4F0
$primary-background-color = #fbfcee

$primary-border-color = #ddded1
$primary-on-base-border-color = #232228
//
//$primary-on-secondary-border-color = #1e1d24
//$primary-on-secondary-border-bottom-color = #1e1d24
//$primary-on-gold-border-color = #1e1d24
//$primary-on-tertiary-border-color = #8a6f38
//$primary-on-base-blue-color = $blue-border-color
//$primary-on-base-border-color-active = $blue-border-color
//$primary-on-base-border-color-inactive = $blue-border-color

$primary-on-secondary-border-color = #1e1d24
$primary-on-secondary-border-bottom-color = #1e1d24
$primary-on-teal-border-color = #1e1d24
$primary-on-teal-border-bottom-color = #1e1d24
$primary-on-yellow-border-color = #232228
$primary-on-yellow-border-bottom-color = #1e1d24
$primary-on-base-border-color = #232228
$primary-on-base-border-bottom-color = #1e1d24
$primary-on-tertiary-border-color = #8a6f38
$primary-on-tertiary-border-bottom-color = #1e1d24
$primary-on-brown-border-color = #232228
$primary-on-brown-border-bottom-color = #1e1d24

$primary-title-color = $white-color
$primary-paragraph-color = #c8c8c8
$primary-label-color = #717171
$primary-option-active-color = $base-button-inactive-text-color
$primary-option-inactive-color = #a8a8a8

$primary-field-background-color = $white-color
$primary-field-background-color-inactive = $white-color
$primary-field-option-background-color = #e8e8e8

//$primary-field-text-color = #383838
$primary-field-text-color = #585858
$primary-field-text-color-inactive = #585858
$primary-field-caret-color = $white-color
$primary-field-caret-color-inactive = #585858
$primary-field-check-color = $green-color
$primary-field-times-color = $red-color
$primary-field-border-color = $primary-on-base-color
$primary-field-border-color-focus = $blue-color
$primary-check-color = #b4dac3

$primary-button-active-background-color = $blue-color
$primary-button-active-text-color = $white-color
$primary-button-active-border-color = $blue-on-primary-border-color
$primary-button-inactive-background-color = $primary-background-color
$primary-button-inactive-text-color = $white-color
$primary-button-inactive-border-color = $base-on-primary-border-color

$primary-accent-background-color = $gold-color
$primary-accent-border-color = $gold-on-primary-border-color
$primary-accent-border-bottom-color = $gold-on-primary-border-bottom-color
$primary-accent-text-color = $black-color
