:root {
	--primary_border: 1px solid var(--primary_on_base_border_color);
	--primary_on_secondary_border: 1px solid var(--primary_on_secondary_border_color);
	--primary_on_base_border: 1px solid var(--primary_on_base_border_color);
	--primary_on_base_border_active: 1px solid var(--primary_on_base_border_color_active);

	--primary_button_active_border: 1px solid var(--primary_button_active_border_color);
	--primary_button_inactive_border: 1px solid var(--primary_button_inactive_border_color);

	--primary_field_border: 1px solid var(--primary_field_border_color);
	--primary_field_border_dotted: 1px dotted var(--grey_color);
	--primary_field_border_focus: 1px solid var(--primary_field_border_color_focus);


	/* --primary_background_color: #FBFCED */
	--primary_background_color: #E1DEDB;
	--primary_background_color: #F7F4F0;
	--primary_background_color: #fbfcee;
	--primary_background_color: #fff;

	--primary_on_secondary_border_color: #1e1d24;
	--primary_on_secondary_border_bottom_color: #1e1d24;
	--primary_on_tertiary_border_color: #8a6f38;
	--primary_on_tertiary_border_bottom_color: #1e1d24;
	--primary_on_base_border_color: #d2d2d2;
	--primary_on_base_border-bottom_color: #a1a198;

	--primary_title_color: #fff;
	--primary_paragraph_color: #c8c8c8;
	--primary_label_color: #888;
	--primary_option_active_color: var(--base_button_inactive_text_color);
	--primary_option_inactive_color: #a8a8a8;

	--primary_field_background_color: #fff;
	/* --primary_field_background_color_inactive: #fff; */
	/* --primary_field_option_background_color: #e8e8e8; */

	/* --primary_field_text_color: #383838; */
	--primary_field_text_color: #585858;
	--primary_field_text_color_inactive: #585858;
	--primary_field_caret_color: #fff;
	--primary_field_caret_color_inactive: #585858;
	--primary_field_check_color: var(--green_color);
	--primary_field_times_color: var(--red_color);
	--primary_field_border_color: #e4e4e4;
	--primary_field_border_color_focus: var(--blue_color);
	--primary_check_color: #b4dac3;

	--primary_button_active_background_color: var(--teal_color);
	--primary_button_active_text_color: #fff;
	--primary_button_active_border_color: var(--blue_on_primary_border_color);

	--primary_button_inactive_background_color: #484848;
	--primary_button_inactive_text_color: #fff;
	--primary_button_inactive_border_color: #000;

	--primary_accent_background_color: #f2f;
	--primary_accent_border_color: var(--gold_on_primary_border_color);
	--primary_accent_border_bottom_color: var(--gold_on_primary_border_bottom_color);
	--primary_accent_text_color: var(--black_color);
}