:root {

	--secondary_border: 1px solid var(--secondary_border_color);
	--secondary_on_base_border: 1px solid var(--secondary_on_base_border_color);

	--secondary_dotted_border: 1px solid var(--secondary_dotted_border_color);
	--secondary_image_border: 1px solid var(--secondary_image_border_color);
	--secondary_title_border_bottom: 3px solid var(--secondary_title_border_bottom_color);

	--secondary_button_border: 1px solid var(--secondary_button_border_color);


	--secondary_background_color: #F7F4F0;
	/* --secondary_background_color: var(--white_color); */
	/* --secondary_background_color:  #c9d5e3; */
	--secondary_border_color: #c8c8c8;
	--secondary_dotted_border_color: #c8c8c8;

	--secondary_image_background_color: #e2e2e2;
	--secondary_image_border_color: var(--black_color);

	--secondary_title_color: var(--black_color);
	--secondary_title_border_bottom_color: var(--teal_color);

	--secondary_button_color: var(--teal_color);
	--secondary_button_text_color: var(--white_color);
	--secondary_button_border_color: var(--teal_border_color);
	--secondary_button_border_color: var(--teal_border_color);

	--secondary_paragraph_color: #888;

	--secondary_on_primary_border_color: #1e1d24;
	--secondary_on_primary_border_bottom_color: #1e1d24;
	--secondary_on_teal_border_color: #1e1d24;
	--secondary_on_teal_border_bottom_color: #1e1d24;
	--secondary_on_yellow_border_color: #232228;
	--secondary_on_yellow_border_bottom_color: #1e1d24;
	--secondary_on_base_border_color: #232228;
	--secondary_on_base_border_bottom_color: #1e1d24;
	--secondary_on_tertiary_border_color: #8a6f38;
	--secondary_on_tertiary_border_bottom_color: #1e1d24;
	--secondary_on_brown_border_color: #232228;
	--secondary_on_brown_border_bottom_color: #1e1d24;

	--secondary_label_color: #555;

	--secondary_square_background_color: #e4e4e4;
	--secondary_square_text_color: var(--grey_color);
	--secondary_square_border_color: var(--grey_color);
	--secondary_square_label_color: #585858;
	--secondary_setting_icon_color: var(--primary_background_color);

	--secondary_field_background_color_active: var(--white_color);
	--secondary_field_background_color_inactive: var(--white_color);

	--secondary_field_option_background_color: #d1d1d1;

	--secondary_field_text_color: #585858;
	--secondary_field_caret_color: #585858;
	--secondary_field_text_color_inactive: #585858;
	--secondary_field_caret_color_inactive: #585858;
	--secondary_field_border_color: #a8a8a8;
	--secondary_field_border_color_focus: var(--blue_color);

	--secondary_button_active_background_color: var(--blue_color);
	--secondary_button_active_text_color:  var(--white_color);
	--secondary_button_active_border_color: var(--white_color);
	--secondary_button_inactive_background_color: var(--secondary_background_color);
	--secondary_button_inactive_text_color:  var(--white_color);
	--secondary_button_inactive_border_color: var(--grey_color);

	--secondary_accent_background_color: #f2f;
	--secondary_accent_border_color: var(--gold_on_secondary_border_color);
	--secondary_accent_border_bottom_color: var(--gold_on_secondary_border_bottom_color);
	--secondary_accent_text_color: var(--black_color);
}