$secondary-background-color = #F7F4F0
$secondary-background-color = $white-color
//$secondary-background-color =  #c9d5e3
$secondary-border-color = #d8d8d8
$secondary-dotted-border-color = #d8d8d8

$secondary-image-background-color = #e2e2e2
$secondary-image-border-color = $black-color

$secondary-title-color = $black-color
$secondary-title-border-bottom-color = $accent-color

$secondary-button-color = $accent-color
$secondary-button-text-color = $black-color
$secondary-button-border-color = $accent-border-color

$secondary-paragraph-color = #888
