:root {
	--teal_color: #ffff0a;
	--teal_color: #ECEC09;
	--teal_color: #c3d021;
	--teal_color: #63be94;
	--teal_color: #227c9d;
	--teal_color: #4e96b1;
	--teal_color: #64a3ba;
	--teal_color: #7ab0c4;
	--teal_color: #83c5be;
	--teal_color: #6a994e;
	--teal_color: #3c6e71;
	--teal_color: #0d41e1;
	--teal_color: #0c63e7;
	--teal_color: #91bece;
	--teal_color: #b1ad9d;
	--teal_color: #6f6c62;

	--teal_on_primary_border_color: #1e1d24;
	--teal_on_primary_border_bottom_color: #1e1d24;
	--teal_on_secondary_border_color: #1e1d24;
	--teal_on_secondary_border_bottom_color: #1e1d24;
	--teal_on_yellow_border_color: #232228;
	--teal_on_yellow_border_bottom_color: #1e1d24;
	--teal_on_base_border_color: #232228;
	--teal_on_base_border_bottom_color: #1e1d24;
	--teal_on_tertiary_border_color: #8a6f38;
	--teal_on_tertiary_border_bottom_color: #1e1d24;
	--teal_on_brown_border_color: #232228;
	--teal_on_brown_border_bottom_color: #1e1d24;

	--teal_text_color: var(--black_color);
	--teal_border_color: #6b7212;
	--teal_color-light: #FBFCED;
}