:root {
	--teal_color: #ffff0a;
	--teal_color: #ECEC09;
	--teal_color: #c3d021;
	--teal_color: #63be94;
	--teal_color: #227c9d;
	--teal_color: #4e96b1;
	--teal_color: #64a3ba;
	--teal_color: #7ab0c4;
	--teal_color: #83c5be;
	--teal_color: #6a994e;
	--teal_color: #3c6e71;
	--teal_color: #0d41e1;
	--teal_color: #0c63e7;
	--teal_color: #91bece;
	--teal_color: #b1ad9d;
	--teal_color: #6f6c62;

	--teal-on-primary-border-color: #1e1d24;
	--teal-on-primary-border-bottom-color: #1e1d24;
	--teal-on-secondary-border-color: #1e1d24;
	--teal-on-secondary-border-bottom-color: #1e1d24;
	--teal-on-yellow-border-color: #232228;
	--teal-on-yellow-border-bottom-color: #1e1d24;
	--teal-on-base-border-color: #232228;
	--teal-on-base-border-bottom-color: #1e1d24;
	--teal-on-tertiary-border-color: #8a6f38;
	--teal-on-tertiary-border-bottom-color: #1e1d24;
	--teal-on-brown-border-color: #232228;
	--teal-on-brown-border-bottom-color: #1e1d24;

	--teal-text-color: var(--black_color);
	--teal-border-color: #6b7212;
	--teal_color-light: #FBFCED;
}