$teal-color = #ffff0a
$teal-color = #ECEC09
$teal-color = #c3d021
$teal-color = #63be94
$teal-color = #227c9d
$teal-color = #4e96b1
$teal-color = #64a3ba
$teal-color = #7ab0c4
$teal-color = #83c5be
$teal-color = #6a994e
$teal-color = #3c6e71
$teal-color = #0d41e1
$teal-color = #0c63e7
$teal-color = #91bece
$teal-color = #b1ad9d
$teal-color = #6f6c62

$teal-on-primary-border-color = #1e1d24
$teal-on-primary-border-bottom-color = #1e1d24
$teal-on-secondary-border-color = #1e1d24
$teal-on-secondary-border-bottom-color = #1e1d24
$teal-on-yellow-border-color = #232228
$teal-on-yellow-border-bottom-color = #1e1d24
$teal-on-base-border-color = #232228
$teal-on-base-border-bottom-color = #1e1d24
$teal-on-tertiary-border-color = #8a6f38
$teal-on-tertiary-border-bottom-color = #1e1d24
$teal-on-brown-border-color = #232228
$teal-on-brown-border-bottom-color = #1e1d24

$teal-text-color = $black-color
$teal-border-color = #6b7212
$teal-color-light = #FBFCED
