$tertiary-background-color = #dad4c5
$tertiary-background-color = #dcd6c8
$tertiary-background-color = #dcd6c8
$tertiary-background-color = #d8d8d8
$tertiary-background-color = $yellow-color

//$tertiary-border-bottom-color = #6a685e

//$tertiary-border-color = #e6e639
//$tertiary-border-color = #cccc32

$tertiary-on-primary-border-color = $yellow-border-color
$tertiary-on-primary-border-bottom-color = $yellow-border-bottom-color

$tertiary-on-secondary-border-color = #1e1d24
$tertiary-on-secondary-border-bottom-color = #1e1d24
$tertiary-on-yellow-border-color = #232228
$tertiary-on-yellow-border-bottom-color = #1e1d24
$tertiary-on-base-border-color = #232228
$tertiary-on-base-border-bottom-color = #1e1d24
$tertiary-on-teal-border-color = #232228
$tertiary-on-teal-border-bottom-color = #1e1d24
$tertiary-on-brown-border-color = #232228
$tertiary-on-brown-border-bottom-color = #1e1d24

$tertiary-title-color = $white-color
$tertiary-paragraph-color = #484848
$tertiary-label-color = $black-color
//$tertiary-label-color = #595959

$tertiary-button-active-background-color = $gold-color
$tertiary-button-active-text-color = $white-color
$tertiary-button-active-border-color = $gold-on-tertiary-border-color
$tertiary-button-bottom-active-border-color = $tertiary-bottom-border-color

$tertiary-button-inactive-background-color = #e8e8e8
$tertiary-button-inactive-background-color = $white-color
$tertiary-button-inactive-text-color = $black-color
$tertiary-button-inactive-border-color = #888
$tertiary-button-inactive-border-bottom-color = #666
