:root {
	--tertiary-background-color: $yellow-color;
	--tertiary-background-color: #0496ff;

	/* --tertiary-border-bottom-color: #6a685e; */

	/* --tertiary-border-color: #e6e639; */
	/* --tertiary-border-color: #cccc32; */
	--tertiary-border: 1px solid var(--tertiary-border-color);
	--tertiary-border-bottom: 3px solid var(--tertiary-border-bottom-color);

	--tertiary-on-primary-border: 1px solid var(--tertiary-on-primary-border-color);
	--tertiary-on-primary-border-bottom: 3px solid var(--tertiary-on-primary-border-bottom-color);


	--tertiary-button-active-border: 1px solid var(--tertiary-button-active-border-color);
	--tertiary-button-active-border-bottom: 3px solid var(--tertiary-button-active-border-bottom-color);

	--tertiary-button-inactive-border: 1px solid var(--tertiary-button-inactive-border-color);
	--tertiary-button-inactive-border-bottom: 3px solid var(--tertiary-button-inactive-border-bottom-color);

	--tertiary-on-primary-border-color: var(--yellow-border-color);
	--tertiary-on-primary-border-bottom-color: var(--yellow-on-primary-border-bottom-color);

	--tertiary-on-secondary-border-color: #1e1d24;
	--tertiary-on-secondary-border-bottom-color: #1e1d24;
	--tertiary-on-yellow-border-color: #232228;
	--tertiary-on-yellow-border-bottom-color: #1e1d24;
	--tertiary-on-base-border-color: #232228;
	--tertiary-on-base-border-bottom-color: #1e1d24;
	--tertiary-on-teal-border-color: #232228;
	--tertiary-on-teal-border-bottom-color: #1e1d24;
	--tertiary-on-brown-border-color: #232228;
	--tertiary-on-brown-border-bottom-color: #1e1d24;

	--tertiary-title-color: var(--white_color);
	--tertiary-paragraph-color: #626262;
	--tertiary-paragraph-color: #f2f2f2;
	--tertiary-label-color: #848484;

	--tertiary-button-active-background-color: #ffff3f;
	--tertiary-button-active-text-color: var(--black_color);
	--tertiary-button-active-border-color: #888;
	--tertiary-button-active-border-bottom-color: #666;

	--tertiary-button-inactive-background-color: #484848;
	--tertiary-button-inactive-text-color: var(--white_color);
	--tertiary-button-inactive-border-color: #000;
	--tertiary-button-inactive-border-bottom-color: #000;
}