$tertiary-background-color = $yellow-color

//$tertiary-border-bottom-color = #6a685e

//$tertiary-border-color = #e6e639
//$tertiary-border-color = #cccc32

$tertiary-on-primary-border-color = $yellow-border-color
$tertiary-on-primary-border-bottom-color = $yellow-on-primary-border-bottom-color

$tertiary-on-secondary-border-color = #1e1d24
$tertiary-on-secondary-border-bottom-color = #1e1d24
$tertiary-on-yellow-border-color = #232228
$tertiary-on-yellow-border-bottom-color = #1e1d24
$tertiary-on-base-border-color = #232228
$tertiary-on-base-border-bottom-color = #1e1d24
$tertiary-on-teal-border-color = #232228
$tertiary-on-teal-border-bottom-color = #1e1d24
$tertiary-on-brown-border-color = #232228
$tertiary-on-brown-border-bottom-color = #1e1d24

$tertiary-title-color = $black-color
$tertiary-paragraph-color = #585858
$tertiary-label-color = #848484

$tertiary-button-active-background-color = #ffff3f
$tertiary-button-active-text-color = $black-color
$tertiary-button-active-border-color = #888
$tertiary-button-bottom-active-border-color = #666

//$tertiary-button-inactive-background-color = #e8e8e8
$tertiary-button-inactive-background-color = #ffff3f
$tertiary-button-inactive-background-color = #f2f23c
$tertiary-button-inactive-background-color = #e6e639

$tertiary-button-inactive-text-color = $black-color
$tertiary-button-inactive-border-color = $yellow-border-color
$tertiary-button-inactive-border-bottom-color = $yellow-on-primary-border-bottom-color
