:root {
	--tertiary_background_color: var(--yellow_color);
	--tertiary_background_color: #0496ff;

	/* --tertiary_border-bottom_color: #6a685e; */

	/* --tertiary_border_color: #e6e639; */
	/* --tertiary_border_color: #cccc32; */
	--tertiary_border: 1px solid var(--tertiary_border_color);
	--tertiary_border-bottom: 3px solid var(--tertiary_border-bottom_color);

	--tertiary_on_primary_border: 1px solid var(--tertiary_on_primary_border_color);
	--tertiary_on_primary_border_bottom: 3px solid var(--tertiary_on_primary_border_bottom_color);


	--tertiary_button_active_border: 1px solid var(--tertiary_button_active_border_color);
	--tertiary_button_active_border_bottom: 3px solid var(--tertiary_button_active_border_bottom_color);

	--tertiary_button_inactive_border: 1px solid var(--tertiary_button_inactive_border_color);
	--tertiary_button_inactive_border_bottom: 3px solid var(--tertiary_button_inactive_border_bottom_color);

	--tertiary_on_primary_border_color: var(--yellow_border_color);
	--tertiary_on_primary_border_bottom_color: var(--yellow_on_primary_border_bottom_color);

	--tertiary_on_secondary_border_color: #1e1d24;
	--tertiary_on_secondary_border_bottom_color: #1e1d24;
	--tertiary_on_yellow_border_color: #232228;
	--tertiary_on_yellow_border_bottom_color: #1e1d24;
	--tertiary_on_base_border_color: #232228;
	--tertiary_on_base_border_bottom_color: #1e1d24;
	--tertiary_on_teal_border_color: #232228;
	--tertiary_on_teal_border_bottom_color: #1e1d24;
	--tertiary_on_brown_border_color: #232228;
	--tertiary_on_brown_border_bottom_color: #1e1d24;

	--tertiary_title_color: var(--white_color);
	--tertiary_paragraph_color: #626262;
	--tertiary_paragraph_color: #f2f2f2;
	--tertiary_label_color: #848484;

	--tertiary_button_active_background_color: #ffff3f;
	--tertiary_button_active_text_color: var(--black_color);
	--tertiary_button_active_border_color: #888;
	--tertiary_button_active_border_bottom_color: #666;

	--tertiary_button_inactive_background_color: #484848;
	--tertiary_button_inactive_text_color: var(--white_color);
	--tertiary_button_inactive_border_color: #000;
	--tertiary_button_inactive_border_bottom_color: #000;
}