$tertiary-background-color = #dad4c5
$tertiary-background-color = #dcd6c8

$tertiary-border-bottom-color = #6a685e

$tertiary-border-color = #e6e639
$tertiary-border-color = #cccc32

$tertiary-on-primary-border-color = #1e1d24
$tertiary-on-primary-border-bottom-color = #1e1d24
$tertiary-on-secondary-border-color = #1e1d24
$tertiary-on-secondary-border-bottom-color = #1e1d24
$tertiary-on-base-border-color = #232228
$tertiary-on-base-border-color-active = $blue-border-color
$tertiary-on-gold-border-color = #1e1d24

$tertiary-title-color = $white-color
$tertiary-paragraph-color = #484848
$tertiary-label-color = $black-color
//$tertiary-label-color = #595959

$tertiary-button-background-active-color = $gold-color
$tertiary-button-text-active-color = $white-color
$tertiary-button-border-active-color = $gold-on-tertiary-border-color
$tertiary-button-bottom-border-active-color = $tertiary-bottom-border-color

$tertiary-button-background-inactive-color = #934e2d
$tertiary-button-background-inactive-color = #aa6442
//$tertiary-button-background-inactive-color = #b5795b
$tertiary-button-text-inactive-color = $white-color
$tertiary-button-border-inactive-color = #89492a
$tertiary-button-border-bottom-inactive-color = #62341e
