$yellow-color = #ffff3f
$yellow-border-color = #e6e639
$yellow-on-primary-border-color = #1e1d24
$yellow-on-primary-border-bottom-color = #1e1d24
$yellow-on-secondary-border-color = #1e1d24
$yellow-on-secondary-border-bottom-color = #1e1d24
$yellow-on-tertiary-border-color = #232228
$yellow-on-tertiary-border-bottom-color = #1e1d24
$yellow-on-base-border-color = #232228
$yellow-on-base-border-bottom-color = #1e1d24
$yellow-on-teal-border-color = #232228
$yellow-on-teal-border-bottom-color = #1e1d24
$yellow-on-brown-border-color = #232228
$yellow-on-brown-border-bottom-color = #1e1d24
$yellow-border-color = #cccc32
$yellow-border-bottom-color = #999926
