:root {
	--yellow_color: #ffff3f;
	--yellow_color: #ffff79;
	--yellow_color: #ffff9f;
	--yellow_color: #ffffb2;
	--yellow_color: #ffffc5;
	/* --yellow_color: #ffffd9; */

	--yellow_border_color: #e6e639;
	--yellow_on_primary_border_bottom_color: #999926;
	--yellow_on_primary_border_bottom_color: #808020;

	--yellow_on_secondary_border_color: #1e1d24;
	--yellow_on_secondary_border_bottom_color: #1e1d24;

	--yellow_on_tertiary_border_color: #232228;
	--yellow_on_tertiary_border_bottom_color: #1e1d24;

	--yellow_on_base_border_color: #232228;
	--yellow_on_base_border_bottom_color: #1e1d24;

	--yellow_on_teal_border_color: #232228;
	--yellow_on_teal_border_bottom_color: #1e1d24;

	--yellow_on_brown_border_color: #232228;
	--yellow_on_brown_border_bottom_color: #1e1d24;

	--yellow_border_color: #cccc32;
	--yellow_border_bottom_color: #999926;
}