#donate-form
	width: 368px
	margin 0 0 36px 0
	padding 28px 20px 22px 20px

	label
		margin 0 0 8px 0
		font-size 13px
		line-height 13px

	&__buttons
		margin 0 0 15px 0
		grid-row-gap 8px
		grid-column-gap 8px

	&__card
		h5
			font-size 20px

	&__holder
		width: 96px
		margin: 10px 0 0 101px

	&__background
		height: 7px

	&__line
		width: 198px
		height: 7px

	&__print
		margin 0 0 0 18px
		font-size 20px
		line-height 30px

	&__picture
		height: 130px

.donate-form-payment
	font-size 36px

.donate-form-apple
	height 48px
	margin 0 0 15px 0
	font-size 20px

.donate-form-cards
	width: 24px
	margin 0 10px 0 0
	font-size 23px

.donate-form-field
	margin: 0 0 15px 0

	input
		height: $height-donate-field-768
		font-size 15px

.donate-form-section-three
	grid-column-gap 10px

.donate-form-section
	margin: 0 0 15px 0

	h1
		margin 0 0 12px 0
		padding 0 30px
		font-size 21px
		line-height 34px

	p
		width 100%
		margin 0 0 15px 0
		font-size 14px
		line-height 25px

		span
			padding 0 0 7px 0

	button
		height 48px
		font-size 20px
		line-height: 51px

.donate-form-button
	h2
		height: $height-donate-field-768
		font-size 15px
