#donate-right
	width: 368px
	padding: 10px 0

#donate-progress
	margin: 0 0 20px 0
	padding: 10px 0

	&__container
		width: 344px

	&__lines
		width: 284px
		height: 8px
		margin: 13px 16px 0 16px

	&__background
		height: 8px

	&__holder
		width: 300px
		margin: 0 0 0 10px

	&__active
		height: 8px

.donate-progress
	&-section
		width: 60px
		margin: 0 82px 0 0

		h1
			margin: 0 0 6px 0
			font-size 11px
			line-height 20px

		&__outline
			width: 34px
			height: 34px
			margin: 0 0 0 10px
			padding: 4px

.donate-progress-check
	font-size 15px
