#lga-listings
	width 627px
	margin 0 0 32px 20px

.lga-listing
	width 302px
	padding-top: 10px
	margin 0 11px 24px 0

	&__image
		width 284px
		margin 0 0 10px 10px

	&__content
		width 266px
		padding 16px 20px 18px 20px

	&__title
		margin-bottom: 20px

		h1
			max-width 224px
			padding 10px 20px 10px 20px
			font-size 16px
			line-height 27px

	&__caption

	&__center
		margin-bottom: 7px

		h5
			font-size 14px
			line-height 14px

	&__square
		width 122px
		margin-bottom: 26px

		h2
			padding 8px 10px 8px 10px
			font-size 15px
			line-height 25px

		p
			font-size 15px
			line-height 27px

	&__square.price
		margin 0 20px 22px 0

	&__square.author
		margin-bottom: 22px

	&__square.category
		margin 0 20px 22px 0

	&__square.sku
		margin-bottom: 22px

	&__buttons
		width 276px

	&__button
		width 131px
		height 46px

		h4
			font-size 16px
			line-height 47px

	&__button.red
		width 131px
		margin 0 10px 0 0

.lga-listing-empty
	width 577px
	padding 25px
	margin-bottom: 70px

	h1
		font-size 20px
		line-height 35px

	p
		margin-bottom: 20px
		font-size 17px
		line-height 30px

.lga-listing__buttonB
	width 278px
	margin 10px 20px 25px 0

	h3
		font-size 19px
		line-height 40px

.lga-listing__buttonB.right
	width 278px
	margin 10px 0 0 0
