.dynamic-media-16-9
	margin-bottom: 20px

	&__full
		width: 438px

		img
			height: 246px
			margin-bottom 6px

	&__half
		width: 209px

		img
			height: 118px
			margin-bottom 6px

	&__quarter
		width: 100px

		img
			height: 56px
			margin-bottom 6px

	&__half-gap
		width: 20px
		height: 20px

	&__quarter-gap
		width: 16px
		height: 20px

	&__caption
		padding 0 10px 0 0

		p
			font-size 11px

.dynamic-media-4-3
	margin-bottom: 20px

	&__full
		width: 438px

		img
			height: 329px
			margin-bottom 6px

	&__half
		width: 209px

		img
			height: 157px
			margin-bottom 6px

	&__quarter
		width: 100px

		img
			height: 75px
			margin-bottom 6px

	&__half-gap
		width: 20px
		height: 20px

	&__quarter-gap
		width: 16px
		height: 20px

	&__caption
		padding 0 10px 0 0

		p
			font-size 11px

.dynamic-media-1-1
	margin-bottom: 20px

	&__full
		width: 438px

		img
			height: 438px
			margin-bottom 6px

	&__half
		width: 209px

		img
			height: 209px
			margin-bottom 6px

	&__quarter
		width: 100px

		img
			height: 100px
			margin-bottom 6px

	&__half-gap
		width: 20px
		height: 20px

	&__quarter-gap
		width: 16px
		height: 20px

	&__caption
		padding 0 10px 0 0

		p
			font-size 11px
