.dynamic-table
	&__container
		margin-bottom: 20px

	&__row
		margin-bottom: 20px

		h1
			padding-bottom: 5px
			font-size 17px
			line-height: 22px

	&__number
		width: 40px

		h4
			font-size 11px
			line-height: 12px

	&__reference
		padding: 0 0 0 20px

		h5
			font-size 13px
			line-height: 18px
