#subscribe-form
	display grid
	width 340px
	margin 0 0 $margin-bottom-page-360 0
	padding 28px 20px 22px 20px
	grid-template-columns 1fr
	grid-template-rows auto
	grid-row-gap $row-gap-subscribe-form-360
	background $secondary-background-color
	border $primary-on-base-border
	border-radius $radius
	box-sizing border-box
	background: #f8f

	h1
		float left
		width 100%
		margin 0
		padding 0
		font-family $primary-font
		font-weight $primary-font-weight-500
		font-size 20px
		color $primary-title-color
		text-align center

	p
		width 100%
		margin 0 0 15px 0
		padding 0
		font-family $secondary-font
		font-weight $secondary-font-weight-400
		font-size 14px
		line-height 25px
		color $primary-paragraph-color
		text-align center

		span
			margin 0
			padding 0 0 7px 0
			border-bottom 5px solid $blue-color
