#community-legal
	width 525px
	padding 32px 40px 28px 40px
	margin 0 0 70px 30px
	border-radius $i-border-radius

	h1
		margin-bottom: 28px
		font-size 24px
		line-height 24px

	h5
		margin-bottom: 28px
		font-size 17px
		line-height 17px

	h6
		margin-bottom: 18px
		font-size 15px
		line-height 15px

	p
		margin-bottom: 24px
		font-size 15px
		line-height 27px

		p.push
			width 513px
			margin 0 0 4px 14px

		p.pushB
			width 505px
			margin 0 0 4px 22px

	&__row
		margin-bottom: 22px

	&__segment
		margin-bottom: 10px

	&__button
		width 525px
		padding 18px 0 15px 0

		a
			font-size 20px
			line-height 20px

.community-legal-section
	float left
	width 100%
	padding 0
	margin-bottom: 34px

.community-legal-container
	float left
	width 100%
	padding 0
	margin-bottom: 34px

.community-legal-center
	float left
	width 100%
	padding 0
	margin-bottom: 34px

	h2
		float left
		padding-bottom: 3px
		margin-bottom: 16px
		font-size 19px
		line-height 28px
		font-family $i-primary-font
		font-weight $i-primary-font-weight
		color $i-black
		border-bottom 3px solid $i-blue

	h3
		float left
		width 100%
		padding 0
		margin-bottom: 7px
		font-size 17px
		line-height 26px
		font-family $i-primary-font
		font-weight $i-primary-font-weight
		color $i-black
