.mat-sidenav
	width 400px
	height 100%

.lga-panel
	min-height 100%

	&__buttons
		width 180px

		h1
			width 158px
			padding 9px 10px 6px 10px
			margin-bottom: 11px
			font-size: 15px

	&__spacer
		height 20px

	&__close
		width 32px
		height 46px
		padding-right: 4px
		margin 18px 0 0 -3px
		border-radius 0 7px 7px 0

	&__caret
		font-size 30px
		line-height 42px



	&__language
		bottom 15px
		left 120px

	&__languages
		bottom 160px
		left -50px
