#community-testimonials
	grid-template-columns 1fr 1fr
	width 646px
	margin 0 0 20px 10px
	border-left $color-white-border

.community-testimonial
	padding 24px 20px 38px 20px
	border-right: $color-white-border

	&__image
		width 66px
		height 66px
		margin 0 10px 0 0

	p
		margin-bottom: 20px
		font-size 15px
		line-height 17px

	h6
		margin 0 40px 0 0
		font-size 15px
		line-height 15px
