#header
	padding 15px 0 15px 0

	&__container
		width 440px

	&__brand
		width 316px

		h1
			margin 10px 0 1px 0
			font-size 17px
			line-height 17px

		h2
			font-size 24px
			line-height 24px

	&__logo
		width 62px

	&__two
	&__three
		width: 25px
		margin: 16px 0 0 24px

		svg
			width 52px
			margin: 0 0 0 -14px

	&__three
		margin: 25px 0 0 -16px

	&__dots
		width 20px
		margin 9px 0 0 0

.header-leaf
	width: 35px

	svg
		width: 62px
		margin: 0 0 0 -14px

.header-banner-dot-row
	margin: 0 0 4px 0

.header-banner-dot
	width 3px
	height 3px
	margin 0 0 0 4px
