#header-pitch
	padding 0 0 11px 0

	&__content
		width 440px

		p
			font-size 13px
			line-height 19px

	&__title
		width 112px
		margin 0 14px 0 50px
		padding 12px 0 5px 16px

		h1
			font-size 14px
			line-height 19px

	&__arrow
		margin 0 0 0 6px
		font-size 19px

	&__time
		width: 222px

	&__paragraph
		margin 11px 0 11px 0
		padding 0

.header-pitch-square
	width: 70px
	margin 5px 6px 0 0

	h3
		height 17px
		font-size 10px

	&__value
		width: 33px
		height: 36px
		margin 0 4px 0 0

	&__value:last-child
		margin: 0

	&__half
		width: 33px
		height: 18px

	&__number
		width 33px
		height 37px

		h4
			font-size 18px

.header-pitch-square:last-child
	margin: 5px 0 0 0

.header-pitch-button
	width: 300px
	margin 0 0 0 70px
	padding 10px 0 9px 0

	h2
		font-size 14px
		line-height 14px
