#volunteer
	width 984px
	margin 0 20px

	&__content
		width: 470px
		margin 0 10px 40px 0

		h1
			margin 0 0 12px 0
			padding 0 30px
			font-size 21px
			line-height 34px

			span
				padding-bottom 6px

		p
			margin 0 0 34px 0
			padding 0 10px
			font-size 15px
			line-height 26px

	&__points
		width 250px
		margin 0 0 0 110px
		grid-row-gap 16px

.volunteer-point
	height 44px

	h2
		font-size 15px
		line-height 44px

	&__check
		left 13px
		height 44px
		font-size 13px
		line-height 42px
