#community-squares
	margin 0 0 20px 0

.community-square
	padding 20px

	&__row
		width 100%

		img
			width: 440px
			height 248px
			margin 0 0 20px 0

		h3
			font-size 18px
			margin 0 0 15px 0
		p
			width 100%
			margin 0 0 15px 0

	&__buttonholder
		padding 10px 0
		width 420px

	&__button
		width 170px
		height 36px

		h4
			font-size 16px
			line-height 36px
