#community-about-slider
	height 242px
	width 587px
	margin 0 0 25px 40px

	.ng-image-slider
	.ng-image-slider-container
	.main-inner
	.img-div

		img.image
			border-radius 0px !important

	.main-inner
		margin-left -3px !important

	.main
		height 270px !important

#community-about-slider-bullets
	margin: 0 0 24px 0

.community-about-slider-bullet
	width 14px
	height 14px

.community-about-slider-bullet.active
	background: $color-black

// .next
// .prev
// 	width 20px !important
// 	height 20px !important
// 	line-height 20px !important
