#find
	&__articles
		float left
		width 100%
		margin 0 0 10px 0
		padding 0

.find-article:last-child
	margin: 0

.find-article
	float left
	width 320px
	margin 0 0 10px 0
	padding 24px 25px 24px 25px
	background $primary-background-color
	border-radius $radius
	box-sizing border-box

	&__title
		float left
		width 100%
		margin 0 0 14px 0
		padding 0

		h1
			float left
			margin: 0
			padding-bottom 7px
			font-family $primary-font
			font-weight $primary-font-weight-500
			border-bottom 2px solid $blue-color
			font-size 19px
			//line-height 20px
			color $primary-title-color
			text-align left
			text-transform: uppercase

	&__paragraph
		float left
		width 100%
		margin 0 0 12px 0
		padding 0

		p
			float left
			width 100%
			margin 0 0 10px 0
			padding 0
			font-family $secondary-font
			font-weight $secondary-font-weight-400
			font-size 15px
			line-height 27px
			color $primary-paragraph-color

	&__planning
		float left
		width 100%
		margin 0 0 12px 0
		padding 0

		h3
			float left
			width 100%
			margin 0 0 10px 0
			padding 0
			font-family $secondary-font
			font-weight $secondary-font-weight-400
			font-size 15px
			line-height 27px
			color $primary-title-color

	&__button
		float left
		margin 0
		padding 0

		h4
			display flex
			height 44px
			margin 0
			padding 0 22px
			font-family $primary-font
			font-weight $primary-font-weight-500
			font-size 15px
			color $grey-color
			background $primary-background-color
			border-radius $radius
			border none
			text-align center
			justify-content center
			align-items center
			box-sizing border-box
			background $primary-accent-background-color
