#community-squares
	grid-template-columns 1fr 1fr
	width 646px
	margin 0 0 20px 10px
	border none
	border-top $white-border-color
	border-left $white-border-color

.community-square
	padding 20px
	border-right $white-border-color
	border-bottom $white-border-color

	&__row
		width 100%

		img
			width 282px
			height 153px
			margin-bottom: 20px

		h3
			margin-bottom: 20px
		p
			width 100%
			margin-bottom: 20px

	&__buttonholder
		padding 10px 0
		width 200px

	&__button
		width 150px
		height 36px

		h4
			font-size 16px
			line-height 36px
