#community-squares
	width 100%
	margin 0 0 50px 0

.community-square
	padding 24px 0 38px 0

	&__row
		width 100%

		img
			width 320px
			height 180px
			margin 0 0 24px 20px

		h3
			padding-bottom: 8px
			margin 0 0 14px 20px
			font-size 17px
			line-height 17px

		p
			width 320px
			margin-left: 20px
			font-size 14px
			line-height 26px

	&__buttonholder
		padding 10px
		width 340px

	&__button
		width 150px
		height 36px

		h4
			font-size 16px
			line-height 36px
