#community-squares
	float left
	display grid
	grid-template-columns 1fr
	grid-template-rows auto
	width 360px
	margin 0 0 50px 0
	background $secondary-color
	border-top $secondary-border
	border-bottom $secondary-border

.community-square
	// width 100%
	padding 24px 0 38px 0
	margin 0
	border-bottom $secondary-dotted-border

	&__row
		float left
		width 360px
		padding 0
		margin 0

		img
			float left
			width 285px
			height 160px
			margin 0 0 24px 15px
			padding 0
			background #e2e2e2
			border $black-border
			border-radius 4px

		h3
			float left
			padding-bottom: 8px
			margin 0 0 14px 15px
			font-size 17px
			line-height 17px
			font-family $primary-font
			font-weight $primary-font-weight-400
			border-bottom 2px solid $accent-color
			color $black-color
			text-align left

		p
			float left
			width 340px
			padding: 0
			margin-left: 15px
			font-size 14px
			line-height 26px
			font-family $primary-font
			font-weight $primary-font-weight-400
			color $paragraph-color
			text-align left

	&__buttonholder
		float left
		padding 10px
		width 340px
	&__button
		float left
		width 140px
		height 36px
		background $accent-color
		border-radius $border-radius
		border-bottom 1px $red-border-bottom

		h4
			float left
			width 100%
			margin 0
			padding 0
			color $color-white
			text-align center
			font-size 16px
			line-height 36px
			background: $button

.community-square:last-child
	border-bottom none
