#password-validation
	position relative
	width 100%
	margin 0
	padding 0

	&__content
		position absolute
		left: 50%
		width 260px
		margin -217px 0 0 -130px
		padding 0
		z-index 999999

	&__container
		float left
		width 260px
		margin 0
		padding 20px 15px 17px 15px
		background $primary-background-color
		border $primary-on-secondary-border
		border-radius $radius
		box-sizing border-box

	&__progress
		float left
		width 100%
		height 13px
		margin 6px 0 0 0
		padding 0
		background $base-background-color
		border $base-on-secondary-border
		border-radius $radius
		box-sizing border-box

	&__bar
		float: left
		width 0
		height 100%
		margin 0
		padding 0
		border-radius $radius
		transition-property: width;
		transition-duration: 0.1s;
		transition-timing-function: linear;
		overflow: hidden;

		&.lowest
			width 17%
			background $red-color

		&.low
			width 34%
			background $red-color

		&.medium
			width 50%
			background $gold-color

		&.high
			width 67%
			background $gold-color

		&.highest
			width 84%
			background $green-color

		&.complete
			width 100%
			background $green-color

#password-validation-caret
	float left
	width 100%
	margin 0
	padding 0

	&__container
		position relative
		width 24px
		margin 0 auto

	&__icon:before,
	&__icon:after
		position relative
		margin 0 auto
		bottom 0
		width 0
		height 0
		content ''
		border-left 12px solid transparent
		border-right 12px solid transparent
		border-top-width 12px
		border-top-style solid

	&__icon:before
		bottom -10px
		border-top-color: $primary-on-secondary-border

	&__icon:after
		bottom: -9px
		left -24px
		border-top-color: $primary-background-color

.password-validation-option
	float left
	width 100%
	height 19px
	margin 0 0 10px 0
	padding 0
	box-sizing border-box

	span
		float left
		height 19px
		margin 0
		padding 0
		font-family $primary-font
		font-weight $primary-font-weight-500
		color $primary-title-color
		font-size 15px
		line-height 20px

	&__check
	&__times
		float left
		width 20px
		height 100%
		margin-right 13px
		padding 0
		font-size 16px
		line-height 20px
		color $blue-color
		text-align center

	&__times
		font-size 19px
		line-height 20px
		color $red-color
