*
	padding 0
	margin 0

.community-intake
	float left
	width 320px
	padding 0
	margin 0

.community-tabs
	float left
	width 280px
	height 35px
	padding 0
	// margin-left: 75px
	border-left $color-tertiary-border
	border-radius 6px 0 0 0

	&__container
		position absolute
		width 280px
		height 35px
		padding 0
		margin 0

.community-tab
	float left
	height 34px
	padding 0 21px
	margin 0
	background $color-primary
	border-top $color-primary-border
	border-right $color-primary-border
	outline none
	cursor pointer

	h2
		float left
		padding 0
		margin 0
		font-family $primary-font
		font-weight $font-weight-primary-400
		font-size 19px
		line-height 33px
		color $color-black

	&__check
		float left
		padding 0
		margin 0
		font-size 17px
		line-height 33px
		color $color-black

.community-tab.first
	border-radius 6px 0 0 0

.community-tab.last
	border-radius 0 6px 0 0

.community-tab.active
	background $color-tertiary
	height 35px

.community-intake
	&__form
		float: left
		width: 300px
		padding 28px 10px 14px 10px
		margin 0 0 44px 0
		background $color-white
		border-top $color-white-border
		border-bottom $color-white-border
		overflow-x hidden

		h1
			float left
			width 100%
			font-size 24px
			line-height 24px
			text-align center
			margin 0 0 40px 0
			padding 0
			font-family $primary-font
			font-weight $font-weight-primary-400
			color $color-black

	&__section
		float left
		margin 0
		padding 0
		border none
		outline none

	&__row
		float left
		width 100%
		padding 0
		margin 0 0 20px 0px

	&__title-top
		float left
		width 290px
		padding 0
		margin 0 0 8px 0
		text-align center

	&__center
		display inline-block
		margin 0
		padding: 0

		h6
			float left
			width 100%
			font-size 16px
			line-height 16px
			text-align center
			margin 0 0 20px 0
			padding 0
			font-family $primary-font
			font-weight $font-weight-primary-400
			color $color-black

	&__checkbox-holder
		float left
		width 298px
		height 50px
		// background rgba(34,34,34,0.2)
		box-shadow: $inset-shadow
		// border $border

	&__checkbox
		position: relative
		top 0px
		width: 60px
		height: 15px
		background: $form-input
		margin:18px auto
		border-radius: 50px
		box-shadow: $inset-shadow

		label
			display: block
			width: 20px
			height: 20px
			position: absolute
			top: -3px;
			left: -5px;
			cursor: pointer;
			background: $color-accent
			border-radius: 50px;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
			transition: all 0.25s ease;

		input[type=checkbox]
			visibility: hidden;

			&:checked + label
				left: 41px;
				background #f4f4f4

	&__sliderOne
		h4
			position absolute
			font-family $primary-font
			font-weight $font-weight-primary-400
			font-size 18px
			line-height 18px
			color $color-black
			text-align left
			top -4px

		&--left
			h4
				left -55px

		&--right
			h4
				right -50px

	&__sliderTwo
		h4
			position absolute
			font-family $primary-font
			font-weight $font-weight-primary-400
			font-size 18px
			line-height 18px
			color $color-black
			text-align left
			top -4px

		&--left
			h4
				left -55px

		&--right
			h4
				right -50px


	&__title
		float left
		width 100%
		padding 0
		margin 0 0 8px 0
		text-align left
		// background: #f2f

	&__center
		display inline-block
		margin 0
		padding: 0

		h6
			float left
			width 100%
			font-size 16px
			line-height 16px
			text-align left
			margin 0 0 20px 0
			padding 0
			font-family $primary-font
			font-weight $font-weight-primary-400
			color $color-black
			// background: #ccff00

	&__input
		float left
		width 280px
		padding 0
		margin 0

		input
		select
		textarea
			width 100%
			float left
			padding-left: 5px
			margin 0
			font-family $primary-font
			font-weight $font-weight-primary-400
			font-size 22px
			color $color-black
			background $form-input
			border $border
			box-shadow none
			outline none
			text-align center

		input
			height 44px

		select
			height 46px

		textarea
			padding 20px 0 0 10px
			background: $red

		input.areacode
			border-right 1px solid $color-black

		input.number
			border-right 1px solid $color-black

	&__mask--full
		display block
		position: absolute;
		width 300px
		padding 0
		margin 0
		height 44px
		background $form-input
		// background: #ccff00
		border $border
		outline none
		cursor pointer
		-webkit-appearance none
		-moz-appearance none
		pointer-events none
		appearance none
		text-align: left;
		z-index: 99999

		h4
			font-family $primary-font
			font-weight $font-weight-primary-400
			font-size 22px
			line-height 46px
			color $color-black
			border none
			box-shadow none
			outline none
			text-align center

	&__mask--half
		display none
		position: absolute;
		padding 0
		margin 0
		height 44px
		background $form-input
		border $border
		outline none
		cursor pointer
		-webkit-appearance none
		-moz-appearance none
		pointer-events none
		appearance none
		text-align: left;
		z-index: 99

		h4
			font-family $primary-font
			font-weight $font-weight-primary-400
			font-size 22px
			line-height 46px
			color $color-black
			border none
			box-shadow none
			outline none
			text-align left

	&__caret
		position absolute
		font-size 18px
		color $color-black
		background $color-black
		top 16px
		right 10px

		input
			width 298px
			padding: 0
			margin: 0
			background: #ccc

		&--full
			display block
			float left
			width 300px
			padding 0
			margin 0 0 20px 0px
			background: #fff

			h1
				font-size 32px
				line-height 32px
				text-align left
				margin 0 0 20px 0
				padding 0
				font-family $primary-font
				font-weight $font-weight-primary-400
				color $color-black

		input
			width 298px
			padding: 0
			margin: 0

		&--half
			display none

	&__confirmation
		width 300px
		margin 0
		padding 0
		border none
		outline none;

		h1
			float left
			width 100%
			padding-bottom: 12px
			margin 0 0 12px 0
			font-size 25px
			line-height 28px
			color $color-black
			text-align left
			font-family $primary-font
			font-weight $font-weight-primary-400
			border-bottom 2px solid rgba(57, 0, 26, 0.3)

	&__paragraph
		width 300px
		margin 0
		padding 0
		border none;
		outline none;

		p
			float left
			width 100%
			font-size 16px
			line-height 20px
			padding-bottom: 12px
			margin 0 0 8px 0
			font-family $font-secondary
			font-weight $font-weight-secondary-500
			color $color-black
			text-align left

	&__submit
		float left
		width 300px
		padding-bottom: 20px
		margin 12px 0 12px 0

		h3
			text-transform uppercase
			margin 0
			padding 0
			color $color-black
			text-align left
			font-size 15px
			line-height 42px
			height 42px
			// background $color-accent

	&__id
		width 300px
		p
			font-size 12px
			font-style italic
			text-align left

	&__buttons
		float left
		margin 0
		padding 0
		outline none

		button
			float left
			width 300px
			height 48px
			padding 0
			margin 10px 0 20px 0
			font-family $primary-font
			font-weight $font-weight-primary-400
			font-size 25px
			color $color-black
			background $color-accent
			border $border
			text-align center
			outline none
			cursor pointer
			&:hover
				color $color-white

			.community-intake__check
				position absolute
				padding 0
				margin-left: 14px
				font-size 21px
				line-height 15px
				color $color-black
				text-align left
				background: $red

		button[disabled]
			background $form-input
			border $border
			&:hover
				color $color-black
