#list
	width 1040px
	margin 0 50pxß

	&__container
		grid-column-gap: 20px

	&__career
		grid-column-gap: 20px

	&__empty
		margin 0 0 22px 288px
		padding 20px 20px 16px 20px

		h1
			margin 0 auto 10px auto
			padding 0 9px 4px 9px
			font-size 17px
			line-height 22px

		p
			margin-bottom: 15px
			font-size 15px
			line-height 26px

.list-button
	width 173px
	height 37px
	margin: 0 20px 0 0

	h2
		font-size 13px
		line-height: 13px

.list-button:last-child
	margin 0

.list-item
	padding 20px

	h1
		margin-bottom: 20px
		padding-bottom: 6px
		font-size 16px
		line-height 20px

	h4
		margin-bottom: 7px
		font-size 13px
		line-height 13px

	p
		margin-bottom: 10px
		font-size 14px
		line-height 20px

	&__content
		padding 0 10px

	&__detail
		padding 15px

	&__half
		padding 0
		margin-bottom: 10px

		h2
			padding 10px 0
			font-size 14px
			line-height 14px

	&__full
		width 228px
		padding 0 5px

	&__tags
		h3
			margin 0 5px
			padding 7px 14px 7px 14px
			font-size 12px
			line-height 15px

	&__career
		padding-right: 20px

	&__holder
		margin-bottom: 20px

	&__team
		margin 0 20px 0 0

		h2
			padding 0 14px
			font-size 10px
			line-height 14px

		h4
			margin-bottom: 5px
			font-size 10px
			line-height 10px

	&__contact
		padding 15px 10px 10px 10px

	&__square
		margin-bottom: 10px

		h4
			margin-bottom: 10px
			font-size 10px
			line-height 12px

		h5
			margin-bottom: 5px
			font-size 11px
			line-height 13px

		img
			width 50px
			height 50px

	&__square:nth-child(1)
		margin 0 0 10px 0

	&__button
		height: 28px
		margin-bottom: 10px

		h6
			height 28px
			font-size 11px
