#cookie
	&__content
		margin 0 0 28px 0
		padding-top 20px

	&__container
		width 667px

	&__icon
		margin-right 18px
		font-size 31px

	&__title
		height 31px
		margin 0 0 14px 20px

		h1
			font-size 21px

	&__paragraph
		width 340px
		margin 0 20px 0 20px

		p
			font-size 15px
			line-height 25px

	&__buttons
		width 277px
		margin 5px 0 0 0

	&__check
		margin-right 10px
		font-size 21px

	&__times
		margin-right 12px
		font-size 21px

	&__clouds
		height 60px

#cookie.close
	bottom -360px

.cookie-button
	height 44px
	margin 0 0 0 10px
	padding 0 20px

	h4
		height 21px
		font-size 16px

.cookie-cloud
	&.a
		width 101px
		height 101px
		margin 16px 0 0 -348px

	&.b
		width 101px
		height 101px
		margin 24px 0 0 -300px

	&.c
		width 101px
		height 101px
		margin 12px 0 0 -240px

	&.d
		width 141px
		height 141px
		margin 0 0 0 -190px

	&.e
		width 101px
		height 101px
		margin 10px 0 0 -110px

	&.f
		width 101px
		height 101px
		margin 0 0 0 -60px

	&.g
		width 101px
		height 101px
		margin 10px 0 0 0

	&.h
		width 101px
		height 101px
		margin 6px 0 0 60px

	&.i
		width 101px
		height 101px
		margin 4px 0 0 130px

	&.j
		width 101px
		height 101px
		margin 12px 0 0 200px

	&.q
		width 101px
		height 101px
		margin 16px 0 0 250px
