.dynamic-list
	margin 0 0 20px 0

	&__title
		margin-bottom: 16px

		h1
			font-size 12px
			line-height 20px

	&__dotted
		padding: 0 0 0 20px

		li
			margin: 0 0 10px 0
			font-size 12px
			line-height 20px

	&__dotted.second
		padding 0 0 0 20px

	&__numbers.second
		padding 0 0 0 20px

	&__numbers
		padding: 0 0 0 20px

		li
			margin: 0 0 10px 0
			font-size 12px
			line-height 20px
