.dynamic
	margin-bottom: 20px

.dynamic-section
	margin: 0 0 24px 0

	p
		font-size 13px
		line-height 19px

.dynamic-title
	margin: 0 0 18px 0

	h1
		margin: 0 0 18px 0
		padding-bottom: 5px
		font-size 27px
		line-height 27px

	h2
		margin: 0 0 16px 0
		padding-bottom: 5px
		font-size 24px
		line-height 24px

	h3
		margin: 0 0 14px 0
		padding-bottom: 5px
		font-size 21px
		line-height 21px

	h4
		margin: 0 0 12px 0
		padding-bottom: 5px
		font-size 18px
		line-height 18px

	h5
		margin: 0 0 12px 0
		padding-bottom: 5px
		font-size 15px
		line-height 15px

	h6
		margin: 0 0 10px 0
		padding-bottom: 5px
		font-size 12px
		line-height 12px

.dynamic-paragraph
	margin: 0 0 18px 0
