#dynamic-rate
	margin-bottom: 14px

	&__button
		height: 38px
		padding 0 20px

		h1
			font-size 14px

	&__like
		margin -1px 0 0 9px
		font-size 15px

	&__unlike
		margin -1px 0 0 9px
		font-size 15px
