#header
	padding 15px 0 15px 0

	&__container
		width 627px

	&__brand
		width 316px

		h1
			margin 10px 0 1px 0
			font-size 17px
			line-height 17px

		h2
			font-size 24px
			line-height 24px

	&__logo
		width 62px

	&__two
	&__three
		width: 25px
		margin: 16px 0 0 24px

		svg
			width 52px
			margin: 0 0 0 -14px

	&__three
		display block
		margin: 25px 0 0 -16px

	&__dots
	&__mobile
		display none

	&__navigation
		display block
		float: right
		width: 100%
		margin 0
		padding: 0

		&__container
			margin 0
			padding 0
			background none
			border none

.header-leaf
	float: left
	width: 35px
	//background: #ccc

	svg
		float: left
		width: 62px
		margin: 0 0 0 -14px

.header
	&__tile
		float right
		height 47px
		padding 0 32px
		margin 0
		background $primary-background-color
		border none
		border-right $primary-border
		border-bottom $primary-border
		border-radius none
		cursor pointer

		h3
			float left
			width 100%
			padding 0
			margin 0
			font-family $primary-font
			font-weight $primary-font-weight-400
			font-size 11px
			line-height 49px
			color $black-color
			border none
			text-align center

	&__tile.active
		height: 47px
		background $secondary-background-color
		//margin -1px 0 0 0

		h3
			color $paragraph

	&__tile.end.active
		background $background
		border-bottom none
		border-right none

		h3
			color $paragraph
