#header
	height 82px
	padding 8px 0 0 0

	&__container
		width 627px

	&__brand
		width 316px

		h1
			margin 10px 0 0 0
			font-size 17px
			line-height 17px

		h2
			font-size 27px
			line-height 27px

	&__logo
		width 63px
		height 60px
		margin 13px 0 0 0

	&__two
	&__three
		width 26px
		height 42px
		margin 18px 0 0 25px

		svg
			width 52px
			margin 0 0 0 -13px

	&__dots
		display none

	&__navigation
		display block
		float: right
		width: 100%
		margin 0
		padding: 0

		&__container
			margin 0
			padding 0
			background none
			border none

.header-leaf
	width 35px

	svg
		width 62px
		margin 0 0 0 -14px

.header
	&__tile
		float right
		height 51px
		padding 0 30px
		margin 0
		background $secondary-background-color
		border-left $secondary-border
		border-bottom $secondary-border
		border-radius none
		cursor pointer

		h3
			float left
			width 100%
			padding 0
			margin 0
			font-family $primary-font
			font-weight $primary-font-weight-400
			font-size 13px
			line-height 53px
			color $black-color
			border none
			text-align center

	&__tile.active
		height: 52px
		background $primary-background-color
		margin -1px 0 0 0

		h3
			color $paragraph
			line-height 54px

	&__tile.end.active
		background $background
		border-bottom none
		border-right none

		h3
			color $paragraph
