$primary-border = 1px solid $primary-border-color
$primary-on-secondary-border = 1px solid $primary-on-secondary-border-color
$bottom-primary-on-secondary-border = 3px solid $primary-on-secondary-border-bottom-color
$primary-on-base-border = 1px solid $primary-on-base-border-color
$primary-on-base-border-active = 1px solid $primary-on-base-border-color-active
$primary-on-tertiary-border = 1px solid $primary-on-tertiary-border-color

$primary-button-active-border = 1px solid $primary-button-active-border-color
$primary-button-inactive-border = 1px solid $primary-button-inactive-border-color
$primary-field-border = 1px solid $primary-field-border-color
$primary-field-border-dotted = 1px dotted $grey-color
$primary-field-border-focus = 1px solid $primary-field-border-color-focus
$primary-title-bottom-border = 3px solid $blue-color

$primary-accent-border = 1px solid $primary-accent-border-color
$primary-accent-bottom-border = 3px solid $primary-accent-border-bottom-color
