/* $secondary-button-active-border: = 1px solid var(--secondary_button_border)-active-color */
/* $secondary-button-inactive-border: = 1px solid var(--secondary_button_border)-inactive-color */
/* $secondary-field-border: = 1px solid $secondary_field_border_color */
/* $secondary-field-border-focus = 1px solid $secondary_field_border_color_focus */
/* $secondary-title-bottom-border: = 3px solid var(--blue_color) */
/* $secondary-square-border: = 1px solid $secondary-square-border-color */
/* $secondary-on-primary-border: = 1px solid $secondary_on_primary_border_color */
/* $secondary-on-primary-border-bottom: = 3px solid $secondary_on_primary_border_bottom_color */
/* $secondary-on-tertiary-border: = 1px solid $secondary_on_tertiary_border_color */

:root {
	--secondary_border: 1px solid var(--secondary_border_color);
	--secondary_on_base_border: 1px solid var(--secondary_on_base_border_color);

	--secondary_dotted_border: 1px solid var(--secondary_dotted_border_color);
	--secondary_image_border: 1px solid var(--secondary_image_border_color);
	--secondary_title_border_bottom: 3px solid var(--secondary_title_border_bottom_color);

	--secondary_button_border: 1px solid var(--secondary_button_border_color);
}