$secondary-border: = 1px solid $secondary-border-color
$secondary-button-active-border: = 1px solid $secondary-button-border-active-color
$secondary-button-inactive-border: = 1px solid $secondary-button-border-inactive-color
$secondary-field-border: = 1px solid $secondary-field-border-color
$secondary-field-border-focus = 1px solid $secondary-field-border-color-focus
$secondary-title-bottom-border: = 3px solid $blue-color
$secondary-square-border: = 1px solid $secondary-square-border-color
$secondary-on-primary-border: = 1px solid $secondary-on-primary-border-color
$secondary-on-primary-border-bottom: = 3px solid $secondary-on-primary-border-bottom-color
$secondary-on-base-border: = 1px solid $secondary-on-base-border-color
$secondary-on-tertiary-border: = 1px solid $secondary-on-tertiary-border-color

$secondary-dotted-border: = 1px solid $secondary-dotted-border-color
$secondary-image-border: = 1px solid $secondary-image-border-color
$secondary-title-border-bottom: = 3px solid $secondary-title-border-bottom-color

$secondary-button-border: = 1px solid $secondary-button-border-color
