/* $tertiary-on-secondary-border: = 1px solid $tertiary-on-secondary-border-color */
/* $tertiary-on-base-border: = 1px solid $tertiary-on-base-border-color */

/* :root {
	--tertiary_border: 1px solid var(--tertiary_border_color);
	--tertiary_border-bottom: 3px solid var(--tertiary_border-bottom_color);

	--tertiary_on_primary_border: 1px solid var(--tertiary_on_primary_border_color);
	--tertiary_on_primary_border_bottom: 3px solid var(--tertiary_on_primary_border_bottom_color);


	--tertiary_button_active_border: 1px solid var(--tertiary_button_active_border_color);
	--tertiary_button_active_border_bottom: 3px solid var(--tertiary_button_active_border_bottom_color);

	--tertiary_button_inactive_border: 1px solid var(--tertiary_button_inactive_border_color);
	--tertiary_button_inactive_border_bottom: 3px solid var(--tertiary_button_inactive_border_bottom_color);
} */
