#header
	padding 8px 0 0 0

	&__container
		width 728px

	&__brand
		width 316px

		h1
			margin 10px 0 1px 0
			font-size 17px
			line-height 17px

		h2
			font-size 24px
			line-height 24px

	&__logo
		width 62px

	&__two
	&__three
		width: 25px
		margin: 16px 0 0 24px

		svg
			width 52px
			margin: 0 0 0 -14px

	&__three
		margin: 25px 0 0 -16px

.header-leaf
	width: 35px

	svg
		width: 62px
		margin: 0 0 0 -14px

.header
	&__tile
		height 47px
		padding 0 32px

		h3
			font-size 11px
			line-height 49px

	&__tile.active
		height: 48px
		margin -1px 0 0 0
