#find
	&__articles
		margin 0 0 10px 0

.find-article
	width: 422px
	margin: 0 20px 10px 0
	padding 22px 30px 20px 30px

	&__title
		margin 0 0 12px 0

		h1
			padding-bottom 7px
			font-size 16px

	&__paragraph
		margin 0 0 12px 0

		p
			margin 0 0 10px 0
			font-size 13px
			line-height 23px

	&__button
		h4
			height 38px
			padding 0 20px
			font-size 13px
