#lga-about-slider
	grid-area slider
	width 884px
	height 554px
	margin 0 0 22px 0

	.ng-image-slider
	.ng-image-slider-container
	.main-inner
	.img-div
		width 984px !important
		padding 0
		margin 0 0 24px 0

		img.image
			border-radius 0px !important

	.main-inner
		margin-left -3px !important

	.main
		height 554px !important

#lga-about-slider-bullets
	margin: 0 0 24px 0
	top 328px

.lga-about-slider-bullet
	width 14px
	height 14px

.lga-about-slider-bullet.active
	background: $color-black

// .next
// .prev
// 	width 20px !important
// 	height 20px !important
// 	line-height 20px !important
