#community-footer
	&__container
		width 335px
		padding 20px 20px 0 20px

	&__company
		width 100%
		margin 0 0 30px 0

	&__logo
		width 50px
		height 50px
		margin: 0 20px 10px 0

	&__brand
		width 250px
		margin 0 0 20px 0

	h1
		margin 0 0 11px 0
		font-size 18px
		line-height 21px

	h2
		font-size 15px
		line-height 15px

	&__address
		margin 0 0 10px 0

	&__contact

	&__about
		width 310px
		margin 0

	&__cv
		margin 0 0 42px 0

	&__navigation
		margin 0 0 20px 0

.community-footer-row
	width 325px
	padding 0
	margin 0 10px 10px 0

	p
		font-size 15px
		line-height 29px

.community-footer-address-line
	font-size 13px
	line-height 25px

.community-footer-contact-line
	font-size 14px
	line-height 25px

.community-footer-social
	width 100%
	padding 0
	margin 0 0 20px 0

.community-footer-social-facebook
.community-footer-social-twitter
.community-footer-social-instagram
	margin-right: 15px 0 0
	font-size: 22px
	line-height: 22px

.community-footer-column
	padding: 0
	margin: 0 30px 0 0

	&__button
		margin: 0 0 20px 0

		h3
			font-size: 14px
			line-height 26px
