#footer
	padding 20px 0 20px 0

	&__container
		width 355px

		h3
			font-size 14px
			line-height 24px

	&__company
		margin 0 0 30px 0

	&__brand
		width 316px
		margin 0 0 22px 0

		h1
			font-size 18px
			line-height 25px

		h2
			font-size 24px
			line-height 24px

	&__outline
		width 24px
		height 24px
		margin 0 10px 1px 0

	&__white
		width 8px
		height 8px
		margin 8px 0 0 8px

	&__contact
		margin 0 0 40px 0

	&__address
		margin-bottom 4px

	&__purpose
		padding 0 10px 0 0

		h1
			margin 0 0 8px 0
			font-size 18px
			line-height 25px

		p
			font-size 14px
			line-height 23px

	&__cv
		margin-bottom: 42px

.footer-row
	width 320px
	margin 0 0 10px 0

.footer-contact-line
	margin 0 0 4px 0

.footer-social
	margin 0 0 20px 0

.footer-social-facebook
.footer-social-twitter
.footer-social-instagram
	margin 0 24px 0 0
	font-size 22px
	line-height 22px

.footer-social-twitter
	font-size 23px

.footer-column
	&__button
		height: 25px

.footer-location-icon
.footer-email-icon
.footer-mobile-icon
	margin 0 10px 0 0
	font-size 15px
	line-height 15px
