#consultation-form
	width 325px
	padding 16px 0 0 30px
	margin 0 0 30px 10px

	&__title
		float left
		width 295px
		margin 0 0 20px 0

		h1
			float left
			font-size 18px
			line-height 18px
			text-align center
			word-wrap: normal

	// &__center
	// 	h6
	// 		padding 0
	// 		font-size 19px
	// 		line-height 21px

	&__countryCode
		width 55px

	&__phone
		width 236px

	&__mask
		width 295px

	&__check
		margin 8px 0 0 16px
		font-size 22px

	&__method
		float left
		width 100%

		select
			width 100%

	&__message
		width 295px

		p
			width 295px
			font-size 16px
			line-height 20px
			padding-bottom: 12px

	&__submit
		width 295px
		padding 0
		margin 12px 0 12px 0

		button
			height 52px
			font-size 29px

	&__button
		width 295px
		height 42px
		padding 0
		margin 0 0 10px

	&__id
		width 100%

		p
			font-size 12px

.consultation-half
	width 295px
	margin 0 0 20px

.consultation-field
	float left
	input
	select
	textarea
		font-size 24px

	input
		height 48px

	select
		height 50px

	textarea
		min-width 275px
		max-width 275px
		padding 10px 10px 14px 10px
		line-height 33px

.consultation-full
	width 295px
	margin 0 0 20px 0
