.lga-intake
	width 375px

.lga-tabs
	width 234px
	height 39px
	margin-left: 70px

.lga-tab
	height 38px
	padding 0 23px

	&__container
		width 300px
		height 38px

	h2
		font-size 22px
		line-height 40px

	&__check
		font-size 17px
		line-height 40px

.lga-tab.active
	height 38px

.lga-intake
	&__form
		margin 0 0 44px 35px
		overflow-x hidden

	&__row
		width 315px
		margin 0 10px 20px 0px

		h1
			width 280px
			font-size 32px
			line-height 32px
			margin 0 0 20px -20px

	&__title-top
		width 300px
		padding 0
		margin 0 0 8px 0

	&__checkbox-holder
		width inherit
		height 50px

	&__input
		float left
		width 300px
		padding 0
		margin 0

		input
		select
		textarea
			font-size 22px

	&__title
		width 300px
		padding 0
		margin 0 0 8px 0

	&__mask--full
		width 315px

	&__buttons
		button
			width 315px
			padding 0
			font-size 25px

			&__check
				position absolute
				padding 0
				margin-left: 14px
				font-size 21px
				line-height 15px
				color $color-white
				text-align center				

		button[disabled]
			background $button
			border none
			border-bottom $button-border-bottom

	&__confirmation
		width 315px

		h1
			padding-bottom: 24px
			font-size 28px
			line-height 28px

	&__paragraph
		width 315px

		p
			width 100%
			font-size 16px
			line-height 20px
			padding-bottom: 12px

	&__submit
		width 315px
		padding-bottom: 20px
		margin 12px 0 12px 0

		h3
			width 315px


	&__id
		width 315px

		p
			font-size 12px
