.mat-sidenav
	width 300px
	height 100%

.panel
	min-height 100%

	&__buttons
		width 140px

		h1
			width 118px
			padding 9px 10px 6px 10px
			margin 0 0 11px 0
			font-size: 14px

	&__spacer
		height 20px

	&__close
		width 28px
		height 40px
		padding-right: 4px
		margin 18px 0 0 -1px
		border-radius 0 6px 6px 0

	&__caret
		font-size 28px
		line-height 42px
