#lga-search
	width 350px
	margin 0 0 28px 15px

	&__container
		width 305px
		padding 20px 20px 20px 20px

	&__category
		width 136px
		margin 0 20px 16px 0

	&__subcategory
		width 136px

		&__select
			width 100%

			select
				height 54px
				font-size 18px
				line-height 52px

	&__mask
		width 251px
		height 52px
		padding 0 20px

		h4
			font-size 17px
			line-height 58px

			&__caret-down
				right 23px
				font-size 19px
				line-height 54px

	&__filter
		width 293px

		input
			width: 253px
			height 52px
			padding 0 20px
			font-size 18px

	&__tag
		width 41px
		height 32px
		margin -1px 0 0 264px

			&__times
				font-size 15px
				line-height 33px

		&__resetIcon
			font-size 15px !important
			line-height 39px
