#lga-slider
	height 189px

	.lga-image-slider
		margin 0 0 6px 0

	.main
		height 211px !important

	#lga-about-slider-bullets
		margin: 0 0 24px 0

.lga-about-slider-bullet
	width 14px
	height 14px
	margin 0 6px
