#community-testimonials
	margin 0 0 50px 0

.community-testimonial
	padding 24px 20px 38px 20px

	&__image
		width 65px
		height 65px
		margin-right: 10px 0 0

	p
		margin 0 0 20px 0
		font-size 15px
		line-height 17px

	h6
		margin 0 40px 0 0
		font-size 15px
		line-height 15px
