#find
	width 1024px
	margin 0 58px $margin-bottom-page-1140 58px
	padding 24 30px 25px 30px

	&__aside
		width 120px

	&__content
		width: 792px
		margin 0 50px 10px 0

	&__dynamic
	&__bottom
		margin 0 0 10px 0
