#footer
	&__container
		width 627px
		padding 20px 20px 0 20px

	&__company
		width 280px
		margin-bottom: 30px

	&__logo
		width 50px
		height 50px
		margin: 0 20px 15px 0

	&__brand
		width 200px
		padding 0
		margin-bottom: 30px

	h1
		margin-bottom: 8px
		font-size 18px
		line-height 21px

	h2
		margin 5px 0 0 0
		font-size 15px
		line-height 15px

	&__address
		width 100%
		padding 0
		margin 0

	&__contact
		width 280px
		margin-bottom: 20px

	&__cv
		width 280px
		margin-bottom: 42px

	&__navigation
		width 280px
		padding 0
		margin-bottom: 30px

.footer-row
	width 300px
	margin 0

	p
		font-size 13px
		line-height 25px

.footer-address-line
	width 250px
	margin-bottom: 10px
	font-size 14px
	line-height 24px

.footer-contact-line
	width 250px
	margin-bottom: 10px
	font-size 14px
	line-height 24px

.footer-social
	width 260px
	margin: 0
	padding 0

.footer-social-facebook
.footer-social-twitter
.footer-social-instagram
	margin 0 10px 0 0
	font-size 24px
	line-height 24px

.footer-column
	padding: 0
	margin: 0 20px 0 0

&__button
	padding 0
	margin: 0

	h3
		font-size: 16px
		line-height 18px
