#lga-consultation-form
	width 617px
	padding 16px 0 0 0
	margin 0 0 30px 23px

	// &__center
	// 	margin 0
	//
	// 	h6
	// 		padding 0
	// 		font-size 21px
	// 		line-height 21px

	&__countryCode
		width 96px

	&__phone
		width 489px

	&__mask
		width 587px


	&__title
		float left
		width 100%
		margin-bottom: 20px

		h1
			width 100%
			margin 0

	&__message
		width 597px
		margin-left: 10px

		p
			width 100%
			font-size 16px
			line-height 20px
			padding-bottom: 18px

	&__submit
		width 587px
		padding-bottom: 20px
		margin 12px 0 0 25px

		button
			width 547px
			height 52px
			margin 0 0 10px 10px
			font-size 29px

	&__button
		width 587px
		margin-left: 15px

	&__id
		width 100%

		p
			width 100%
			font-size 12px
			text-align center

.lga-consultation-half
	width 587px
	margin-bottom: 20px

.lga-consultation-field
	textarea
		min-width 567px
		max-width 567px

.lga-consultation-full
	width 587px
	margin 0 0 20px 15px
