.mat-sidenav
	width 400px
	height 100%

.panel
	width: 250px
	min-height 100%

	&__container
		width: 210px

	&__buttons
		width 180px

		h1
			width 158px
			padding 9px 10px 6px 10px
			margin-bottom: 11px
			font-size: 15px

	&__spacer
		height 20px

	&__left
		width 26px
		height 41px

	&__left
		width 26px
		height 41px

	&__close
		padding 0 4px 0 0
		margin 14px 0 0 -1px

	&__caret
		font-size 18px

	&__language
		bottom 15px
		left 120px

	&__languages
		bottom 160px
		left -50px
