#community-statements
	grid-template-columns 1fr 1fr
	width 646px
	margin 0 0 20px 10px
	grid-column-gap 10px

.community-statement
	padding 24px 20px 38px 20px

	&__image
		width 65px
		height 65px
		margin 0 10px 0 0

	p
		margin 0 0 20px 0
		font-size 13px
		line-height 25px

	h6
		margin 0 40px 0 0
		font-size 16px
		line-height 16px
