#find-help
	position absolute
	width 340px
	height: 300px
	top 30px
	left 50%
	margin-left: -170px
	padding 0
	z-index $z-index-modal

	&__container
		float left
		width 300px
		padding 24px 20px 24px 20px
		margin 0
		border $primary-button-active-border
		border-radius $radius
		background $primary-background-color
		text-align center

	&__title
		float: left
		width: 100%
		margin: 0
		padding: 0

		h1
			display inline-block
			margin 0 0 15px 0
			padding 0
			font-family $primary-font
			font-weight $primary-font-weight-500
			font-size 22px
			line-height 38px
			color #888
			border-bottom $secondary-title-border-bottom
			text-transform uppercase

	&__paragraph
		float: left
		width: 100%
		margin: 0
		padding: 0
		p
			float left
			width 100%
			margin 0 0 42px 0
			padding 0
			font-family $secondary-font
			font-weight $secondary-font-weight-400
			font-size 18px
			line-height 31px
			color $base-button-active-text-color
			text-align center

	&__button
		float left
		width: 100%
		margin 0
		padding 0

		h4
			display flex
			height 44px
			margin 0
			padding 0 22px
			font-family $primary-font
			font-weight $primary-font-weight-500
			font-size 15px
			color $grey-color
			background $tertiary-button-inactive-background-color
			border-radius $radius
			border $tertiary-button-inactive-border
			text-align center
			justify-content center
			align-items center
			box-sizing border-box
			//background $primary-accent-background-color
