#legal
	float left
	width 320px
	padding 32px 20px 28px 20px
	margin 0 0 70px 0
	background $i-secondary
	border none
	border-top $i-secondary-border
	border-bottom $i-secondary-border

	h1
		float left
		width 100%
		padding 0
		margin: 0 0 28px 0
		font-size 24px
		line-height 24px
		font-family $i-primary-font
		font-weight $i-primary-font-weight
		color $i-black
		text-align left

	h5
		float left
		width 100%
		padding 0
		margin 0 0 28px 0
		font-size 17px
		line-height 17px
		font-family $i-primary-font
		font-weight $i-primary-font-weight
		color $i-black
		text-align left

	h6
		float left
		width 100%
		padding 0
		margin 0 0 18px 0
		font-size 15px
		line-height 15px
		font-family $i-secondary-font
		font-weight $i-secondary-font-weight
		color $i-paragraph
		text-align left

	p
		float left
		width 100%
		padding 0
		margin 0 0 24px 0
		font-size 15px
		line-height 27px
		font-family $i-secondary-font
		font-weight $i-secondary-font-weight
		color $i-paragraph
		text-align left

	a
		color $i-blue

		p
			margin 0 0 12px 0
			text-align left

		p.push
			width 266px
			margin 0 0 4px 14px

		p.pushB
			width 258px
			margin 0 0 4px 22px

	&__segment
		float left
		width 100%
		padding 0
		margin 0 0 10px 0

	&__row
		float left
		width 100%
		padding 0
		margin 0 0 22px 0

	&__button
		float left
		width 298px
		padding 14px 20px 12px 20px
		margin 0
		background $i-primary
		border $i-primary-border
		border-radius $i-border-radius

		a
			float left
			width 100%
			padding 0
			margin 0
			font-size 20px
			line-height 28px
			font-family $i-primary-font
			font-weight $i-primary-font-weight
			color $i-white
			text-align center

.legal-section
	float left
	width 100%
	padding 0
	margin 0 0 34px 0

.legal-container
	float left
	width 100%
	padding 0
	margin 0 0 34px 0

.legal-center
	float left
	width 100%
	padding 0
	margin 0 0 34px 0

	h2
		float left
		padding-bottom: 3px
		margin 0 0 16px 0
		font-size 19px
		line-height 28px
		font-family $i-primary-font
		font-weight $i-primary-font-weight
		color $i-black
		border-bottom 3px solid $i-blue

	h3
		float left
		width 100%
		padding 0
		margin 0 0 7px 0
		font-size 17px
		line-height 26px
		font-family $i-primary-font
		font-weight $i-primary-font-weight
		color $i-black
