#list
	float: left
	width 340px
	padding: 0
	margin 0 0 32px 10px

.article-list
	display inline-block
	vertical-align top
	width 338px
	padding-top: 10px
	margin-bottom: 22px
	font-size 16px
	cursor pointer
	overflow hidden
	background $primary-color

	&__image
		float left
		width 318px
		margin 0 0 10px 10px
		background $color-white
		border $base-border-color
		border-radius $radius
		overflow hidden

		img
			float left
			width 100%
			height 176px
			padding 0
			margin 0

	&__content
		float left
		width 300px
		padding 16px 20px 18px 20px
		margin 0
		background $color-white
		border none
		border-top $border-white
		border-radius $radius-bottom

	&__title
		float left
		width 100%
		padding 0
		margin-bottom:0 25px

		h1
			float left
			margin: 0
			width 260px
			padding 10px 20px 10px 20px
			font-size 16px
			line-height 27px
			font-family $primary-font
			font-weight $primary-font-weight-400
			color $black-color
			background #f4f4f4
			border $base-border-color
			border-radius $radius
			text-align center

	&__caption
		width 100%
		padding 0
		margin 0
		text-align center

	&__center
		display inline-block
		position relative
		padding 0
		margin-bottom:0 7px
		z-index 99

		h5
			float left
			padding 0
			margin 0
			font-family $primary-font
			font-weight $primary-font-weight-400
			font-size 13px
			line-height 13px
			color $paragraph-color
			text-align center

	&__square
		float left
		padding 0
		margin-bottom: 25px

		h2
			float left
			padding 8px 10px 8px 10px
			margin 0
			font-size 15px
			line-height 20px
			font-family $primary-font
			font-weight $primary-font-weight-400
			color $black-color
			background #f4f4f4
			border $base-border-color
			border-radius $radius

		p
			float left
			padding 0
			margin 0
			font-size 15px
			line-height 27px
			font-family $primary-font
			font-weight $primary-font-weight-400
			color $paragraph-color

	&__square.price
		margin 0 20px 22px 0

	&__square.author
		margin-bottom: 30px

	&__square.category
		margin 0 60px 30px 0

	&__square.sku
		margin-bottom: 22px

	&__buttons
		float left
		width 300px
		padding 0
		margin 0

	&__button
		float: left
		width 140px
		height 46px
		padding 0
		margin 0
		background $black-color
		border-radius $radius

		h4
			float left
			width 100%
			padding 0
			margin 0
			font-size 14px
			line-height 40px
			font-family $primary-font
			font-weight $primary-font-weight-400
			color $color-white
			text-align center

	&__button.red
		width 140px
		margin 0 10px 0 0
		background $red

.article-list-empty
	float: left
	width 320px
	padding 10px
	margin 0
	border-radius: $radius
	background $secondary-border-color
	border $primary-color-border
	border-radius $radius


	h1
		float left
		width 100%
		margin-bottom: 10px
		padding-bottom: 6px
		font-family: $primary-font
		font-weight $primary-font-weight-400
		font-size 18px
		line-height 28px
		color $black-color
		border-bottom 3px solid $teal-color
		text-align center

	p
		float left
		width 100%
		margin-bottom: 20px
		padding 0
		font-family $font-secondary
		font-weight $font-secondary-weight-400
		font-size 14px
		line-height 22px
		color $paragraph-color
		text-align center

.article-list__buttonB
	float left
	width 135px
	height 40px
	padding 0
	margin 10px 10px 15px 0
	font-family $primary-font
	font-weight $primary-font-weight-400
	font-size 25px
	background $teal-color
	border $border
	text-align center
	border-radius $radius
	box-sizing border-box

	h3
		float left
		width: 100%
		padding 0
		margin 0
		font-family $primary-font
		font-weight $primary-font-weight-400
		font-size 15px
		line-height 40px
		color $color-white
		text-align center

.article-list__buttonB.right
	width 155px
	margin 10px 0 0 0
