#footer
	grid-area: application-footer
	float left
	width 100%
	padding 20px 0 20px 0
	margin 0
	background $primary-background-color
	border-top $primary-border

	&__container
		position relative
		width 340px
		margin 0 auto
		padding 0

		h3
			display flex
			height: 100%
			margin 0
			padding 0
			text-align left
			font-family $secondary-font
			font-weight $secondary-font-weight-400
			font-size 12px
			color $paragraph-color
			cursor pointer
			align-items center

	&__company
		float left
		width 100%
		padding 0
		margin 0 0 30px 0

	&__name
		float left
		display flex
		height: 25px
		width 300px
		margin 0
		padding 0
		background: #f9f
		align-items center

	&__brand
		float left
		width 100%
		margin 0 0 22px 0
		padding 0

		h1
			float left
			width: 229px
			margin 0
			padding 0
			font-family $primary-font
			font-weight $primary-font-weight-400
			font-size 15px
			line-height 25px
			color $black-color
			text-align left
			cursor pointer

		h2
			float left
			width 100%
			margin 0
			padding 0
			font-family $alternate-font
			font-weight $alternate-font-weight-400
			font-size 24px
			line-height 24px
			color #787878
			text-align left
			cursor pointer

	&__outline
		float left
		width 24px
		height 24px
		padding 0
		margin 0 10px 1px 0
		background $teal-color
		border-radius 8px 0 8px 0
		cursor pointer

	&__white
		float left
		width 8px
		height 8px
		background $white-color
		margin 8px 0 0 8px

	&__contact
		float left
		width 100%
		margin 0
		padding 0

	&__address
		float left
		width 100%
		padding 0
		margin-bottom 4px

	&__touch
		float left
		width 100%
		padding 0
		margin 0

	&__purpose
		float left
		width 100%
		padding 0 10px 0 0
		margin 0
		box-sizing border-box

		h1
			float left
			width: 100%
			margin 0 0 8px 0
			padding 0
			font-family $primary-font
			font-weight $primary-font-weight-400
			font-size 18px
			line-height 25px
			color $black-color
			text-align left
			cursor pointer

		p
			float: left
			width 100%
			padding 0
			margin 0
			font-size 14px
			line-height 23px
			font-family $primary-font
			font-weight: $primary-font-weight-400
			color $paragraph-color

	&__cv
		float left
		width 100%
		padding 0
		margin-bottom: 42px

	&__map-big
	&__map-small
		display: none

	&__navigation
		float: left
		display grid
		width 100%
		margin 0
		padding 0
		grid-template-columns 1fr 1fr 1fr 1fr
		grid-template-rows auto

.footer-row
	float: left
	width 320px
	padding: 0
	margin 0 0 10px 0

.footer-contact-line
	float left
	width 100%
	height: 24px
	padding 0
	margin 0 0 4px 0

.footer-social
	display flex
	//float: left
	width 100%
	padding 0
	margin 0 0 20px 0
	text-align center
	justify-content: center
	cursor pointer
	align-items center

.footer-social-facebook
.footer-social-twitter
.footer-social-instagram
	display flex
	float: left
	width: 20px
	height: 20px
	padding 0
	margin 0 10px 0 0
	font-size 12px
	color $primary-button-active-text-color
	background $primary-button-active-background-color
	border $tertiary-on-primary-border
	border-radius $radius
	text-align center
	justify-content: center
	cursor pointer
	align-items center

.footer-social-instagram
	margin: 0

.footer-social-twitter
	font-size 14px

.footer-column
	float: left
	width: 100%
	padding: 0
	margin: 0

	&__button
		float: left
		width: 100%
		height: 25px
		margin: 0
		color $black-color
		align-items center

	&__title
		float: left
		width: 100%
		margin: 0
		color $black-color
		align-items center

		h4
			margin 0
			padding 0
			text-align left
			font-family $primary-font
			font-weight $primary-font-weight-400
			font-size 11px
			color $paragraph-color

.footer-location-icon
.footer-email-icon
.footer-mobile-icon
	display flex
	float: left
	height: 100%
	padding 0
	margin 0 10px 0 0
	font-size 14px
	color $paragraph-color
	text-align center
	cursor pointer
	align-items center
