#footer
	grid-area: application-footer
	float left
	width 100%
	padding 0
	margin 0
	background $primary-background-color
	border-top $border-primary

	&__container
		position relative
		width 340px
		padding 20px 10px 0 10px
		margin 0 auto

	&__company
		float left
		width 100%
		padding 0
		margin 0 0 30px 0

	&__logo
		float: left
		margin: 0 20px 10px 0
		padding: 0
		width 50px
		height 50px
		background #444

	&__brand
		float left
		width 220px
		padding 0
		margin-bottom: 20px

	h1
		float left
		width 100%
		margin 0 0 11px 0
		font-size 18px
		line-height 21px
		text-align left
		border none
		color $black-color
		font-family $primary-font
		font-weight $primary-font-weight-400

	h2
		float left
		width 100%
		padding 0
		margin 0
		font-style italic
		font-size 15px
		line-height 15px
		border none
		font-family $primary-font
		font-weight $primary-font-weight-400
		color #686868

	&__address
		float left
		width 100%
		padding 0
		margin-bottom: 10px

	&__contact
		float left
		width 100%
		padding 0
		margin 0

	&__about
		float left
		width 100%
		padding 0
		margin 0

	&__cv
		float left
		width 100%
		padding 0
		margin-bottom: 42px

	&__navigation
		float left
		padding 0
		margin-bottom: 20px

.footer-row
	float: left
	width 320px
	padding: 0
	margin 0 0 10px 0

	p
		float: left
		width 100%
		padding 0
		margin 0
		font-size 14px
		line-height 30px
		font-family $primary-font
		font-weight: $primary-font-weight-400
		color $paragraph-color

.footer-address-line
	float left
	width 200px
	margin: 0
	padding: 0
	font-size 14px
	line-height 25px
	font-family: $primary-font
	font-weight: $primary-font-weight-400

.footer-contact-line
	float left
	width 200px
	padding 0
	margin 0
	font-size 14px
	line-height 25px
	font-family: $primary-font
	font-weight: $primary-font-weight-400

.footer-social
	float left
	width 100%
	padding 0
	margin 0

.footer-social-facebook
.footer-social-twitter
.footer-social-instagram
	float left
	padding 0
	margin 0 10px 0 0
	font-size 22px
	line-height 22px
	text-align: center;
	cursor: pointer;
	color: $paragraph-color

.footer-column
	float: left
	padding: 0
	margin: 0 45px 0 0

	&__button
		display: inline
		margin: 0
		color $black-color

		h3
			margin: 0
			padding: 0
			text-align left
			font-family $primary-font
			font-weight: $primary-font-weight-400
			font-size: 14px
			line-height 24px
			color $paragraph-color
