#lga-consultation-form
	width 310px
	padding 18px 0 0 30px
	margin-left: 9px

	&__countryCode
		width 53px
		margin 0 2px 0 0

		input
			border-radius 4px 0px 0 4px
			border-right 2px solid $button

	&__phone
		width 224px

		input
			border-radius 0px 6px 6px 0

	&__mask
		width 280px
		height 50px

		h4
			font-size 16px
			width 100%
			line-height 46px

	button
		width 280px
		height 48px
		margin 0 0 20px 0
		font-size 25px

	&__check
		padding 0
		margin-left: 14px
		font-size 21px
		line-height 15px

	button[disabled]
		border-bottom $button-border-bottom

	&__method
		width 280px

		select
			width 278px

	&__title
		width 280px
		margin 0 0 20px 0

		h1
			padding 0
			margin 0
			font-size 18px
			line-height 18px

	&__message
		width 280px

		p
			font-size 16px
			line-height 20px
			padding-bottom: 12px
			margin 0 0 8px 0

	&__submit
		width 280px
		margin 12px 0 0 0

		button
			height 48px
			margin 0 0 20px 0
			font-size 25px

	&__button
		width 280px
		height 46px

		h6
			font-size 20px
			line-height 44px

	&__id
		width 280px

		p
			font-size 12px
			font-style italic
			text-align center

.lga-consultation-half
	width 280px
	margin 0 0 20px 0

.lga-consultation-field
	width 100%

	input
	select
	textarea
		font-size 18px

	input
		width 100%
		height 44px

	select
		width 100%
		height 46px
		line-height 48px

	textarea
		min-width 260px
		max-width 260px
		min-height 72px
		padding 10px 10px 14px 10px
		line-height 28px

.lga-consultation-label
	margin 0 0 5px 0

.lga-consultation-full
	width 280px
	margin 0 0 20px 0
