.community-team-list
	float left
	width 300px
	padding 0
	margin 0 0 30px 10px

	&__square
		display inline-block
		vertical-align top
		width 280px
		padding 16px 5px 18px 15px
		margin 0 0 14px 0
		background $color-secondary
		border-bottom $color-secondary-border-bottom
		border-radius $border-radius

	&__left
		float left
		width 96px
		padding 0
		margin 0 15px 4px 0

		h2
			float left
			height 28px
			padding 0 11px 0 11px
			margin 0 5px 0 0
			font-family $font-primary
			font-weight $font-weight-primary-400
			font-size 18px
			line-height 29px
			color $color-white
			background $color-primary
			border-bottom $color-primary-border-bottom
			border-radius $border-radius
			text-align center

	&__image
		float left
		width 96px
		height 96px
		padding 0
		margin 0 0 10px 0
		background $color-white
		border-bottom $color-primary-border-bottom
		border-radius $border-radius
		overflow hidden

	&__content
		float left
		width 100%
		padding 0
		margin 0 0 16px 0

		h1
			float left
			width 100%
			padding 0
			margin 0 4px 8px 0
			font-family $font-primary
			font-weight $font-weight-primary-400
			font-size 24px
			line-height 27px
			color $color-black
			text-align left
			text-shadow $color-black-shadow

	&__name
		width 100%
		padding 0
		margin 0 0 14px 0

		h2
			width 100%
			padding 0
			margin 0
			font-family $font-secondary
			font-style italic
			font-weight $font-weight-secondary-500
			font-size 18px
			line-height 25px
			color $color-paragraph
			text-align left

	&__description
		width 270px
		padding 0
		margin 0 0 18px 0

		p
			width 100%
			padding 0
			margin 0
			font-family $font-primary
			font-weight $font-weight-primary-400
			font-size 18px
			line-height 25px
			color $color-paragraph
			text-align left

	&__contacts
		float left
		width 100%
		padding 0
		margin 0

	&__contact
		float left
		width 34px
		height 34px
		padding 0
		margin 0 8px 0 0
		background $color-primary
		border-bottom $color-primary-border-bottom
		border-radius $border-radius

		&__linkedin-in
		&__mobile-alt
		&__at
			float left
			width 100%
			padding 0
			margin 0
			color $color-white
			text-align center

		&__linkedin-in
			font-size 18px
			line-height 34px

		&__mobile-alt
			font-size 19px
			line-height: 35px

		&__at
			font-size 16px
			line-height: 36px
