.mat-sidenav
	position fixed
	width 275px
	height 100%
	min-height 100%
	bottom 0
	padding 0
	margin 0
	background none
	outline none
	left 0
	top 0
	z-index 99999
	-webkit-transform translate3d(0%, 0, 0)
	transform translate3d(0%, 0, 0)
	overflow scroll

.community-panel
	float left
	min-height 100%
	padding 0
	margin 0
	background $color-accent-light
	border-right $border-black

	&__buttons
		float left
		width 140px
		padding 0 15px 0 15px
		margin 0

		h1
			float left
			font-family: $font-primary
			font-weight $font-weight-primary-400
			font-size 14px
			line-height 24px
			color $color-black
			text-shadow none
			width 118px
			padding 9px 10px 6px 10px
			margin 0 0 11px 0
			background $color-white
			border $color-white-border
			border-radius $border-radius
			text-align center
			text-decoration none
			cursor pointer
			outline none
			background: $color-accent


	&__spacer
		float left
		width 100%
		height 18px
		padding 0
		margin 0


	&__tile.active
		background $blue
		border $blue-border

	&__close
		float left
		width 26px
		height 40px
		padding-right: 4px
		margin 18px 0 0 -1px
		background $color-accent-light
		border $color-black-border
		border-left none
		border-radius 0 6px 6px 0
		cursor pointer
		outline none

	&__caret
		float left
		width 100%
		padding 0
		margin 0
		font-size 26px
		line-height 42px
		color $color-black
		text-align center
		cursor pointer

	&__language
		position absolute
		padding 0
		max-height 40px
		bottom 30px
		right 120px
		margin 0

	&__flag
		border-radius 6px
		background $color-accent
		float left
		margin 0
		padding 4px 18px 4px 4px

		img
			border-radius 6px
			width 40px
			height 30px

	&__lang-caret
		font-size 18px
		line-height 25px
		margin 4px 0 0 10px
		padding 0
		color $color-black

	&__languages
		position relative
		bottom 200px
		left 40px
		margin 0
		padding 0
		backgorund $color-accent
		border-radius 8px
		img
			float left
			width 40px
			border-radius 4px
			margin 0 0px 4px 0

	&__holder
		float left
		background $color-accent
		max-width 40px
		padding 8px
		margin 0
		border-radius 8px

.community-panel::-webkit-scrollbar
	width: 0 !important
