#lga-search
	width 350px
	margin 0 0 28px 10px

	&__container
		width 308px
		padding 18px 15px 18px 15px

	&__category
		width 145px
		margin 0 18px 16px 0

	&__subcategory
		width 145px
		margin 0 0px 16px 0

	&__select
		width 100%

		select
			height 54px
			font-size 18px
			line-height 52px

	&__mask
		width 226px
		height 52px
		padding 0 20px
		margin 0
		background: $color-white
		border $border-field
		border-radius 8px

		h4
			font-size 17px
			line-height 56px

	&__caret-down
		right 24px
		font-size 19px
		line-height 54px

	&__filter
		width 308px

		input
			width: 268px
			height 52px
			margin 0
			font-size 18px
			font-family $font-primary
			font-weight $font-weight-primary-400
			color $color-paragraph
			background $color-white
			border none
			border $border-field
			border-radius 8px

		input[placeholder]
			color $color-paragraph

	&__reset
		display: none;

	&__tag
		width 40px
		height 32px
		margin -1px 0 0 284px
		border-radius 0 0 8px 8px
		text-align center

	&__resetIcon
		font-size 15px !important
		line-height 39px
