#community-search
	float left
	width 350px
	margin 0 0 28px 10px

	&__container
		float: left
		width 308px
		padding 18px 15px 18px 15px
		background $color-secondary
		border $border-secondary
		border-radius $border-radius
		overflow hidden

	&__category
		float: left
		width 145px
		margin 0 18px 16px 0
		padding: 0

	&__subcategory
		float: left
		width 145px
		margin 0 0 16px 0
		padding: 0

	&__select
		float left
		width 100%
		padding 0
		margin 0
		text-align center

		select
			float: left
			width 100%
			height 54px
			padding 0
			margin 0
			font-size 18px
			line-height 52px
			font-family $primary-font
			font-weight $font-weight-primary-400
			border $border-field
			border-radius $border-radius
			outline none
			focus none
			text-align: center

	&__mask
		position absolute
		width 226px
		height 52px
		padding 0 20px
		margin 0
		background: $color-white
		border $border-field
		border-radius 8px
		cursor: pointer
		outline none
		pointer-events none
		z-index 70
		text-align center

		h4
			float left
			width 100%
			padding 0
			margin 0
			font-family $primary-font
			font-weight $font-weight-primary-400
			font-size 17px
			line-height 56px
			color $color-paragraph
			text-align center

	&__caret-down
		position absolute
		right 24px
		font-size 19px
		line-height 54px
		color $color-paragraph

	&__filter
		float left
		width 308px
		padding 0
		margin 0

		input
			float: left
			width: 268px
			height 52px
			margin 0
			font-family $primary-font
			font-weight $font-weight-primary-400
			color $color-paragraph
			background $color-white
			border none
			border $border-field
			border-radius 8px
			box-shadow none
			text-align: center
			outline: none
			appearance none
			-moz-appearance none
			-webkit-appearance none
			background #000

		input[placeholder]
			color $color-paragraph

	&__reset
		display: none;

	&__tag
		float left
		width 40px
		height 32px
		padding 0
		margin -1px 0 0 244px
		background $color-accent-light
		border $color-primary-border
		border-top none
		border-radius 0 0 8px 8px
		text-align center

	&__resetIcon
		width 100%
		float left
		padding 0
		margin 0
		font-size 15px !important
		line-height 39px
		color $color-black
		text-align center
