//#community-slider
//	float: left
//	width 360px
//	height 180px
//	padding 0
//	margin 0

//.ng-image-slider
//	display: inline-block;
//	position: relative;
//	width: 100%
//
//.ng-image-slider .ng-image-slider-container .main
//	// overflow: hidden;
//	// position: absolute;
//	// height: 200px;
//	// width: 100%;
//	// background: #f2f
//	float left
//	width 360px
//	height 180px
//	padding 0
//	margin 0 0 20px 0
//	border none
//	outline none
//	overflow hidden
//
//.ng-image-slider .ng-image-slider-container .main .main-inner
//	// width: 1760px;
//	padding: 0;
//	height: 100%;
//
//.img-div
//	float left
//	width 360px
//	height 180px
//	background #f2f
//
//custom-image
//	float left
//	width 360px
//	height 180px
//	background #f2f
//
//custom-image-main
//	float left
//	width 360px
//	height 180px
//	background #ff9
//
//	img
//		float left
//		width 100%
//		height 100%
//		border none
