#community-statements
	display grid
	width: 340px
	grid-template-columns 1fr
	grid-template-rows auto
	margin 0 10px 50px 10px
	padding: 0
	border-top $border-secondary
	box-sizing border-box
	grid-row-gap 10px

.community-statement
	float: left
	width 100%
	padding 24px 20px 38px 20px
	margin 0
	border-bottom $border-secondary
	background $color-secondary
	box-sizing border-box
	border-radius: 8px

	&__image
		float left
		width 65px
		height 65px
		margin 0 10px 0 0
		background $color-background
		border $border-secondary
		border-radius 1000%
		overflow hidden

		img
			float left
			width 100%
			height 100%
			padding 0
			margin 0

	p
		width 100%
		padding 0
		margin 0 0 20px 0
		font-size 13px
		line-height 25px
		font-family $primary-font
		font-weight $font-weight-primary-400
		color $color-paragraph
		text-align left

	h6
		float right
		padding 0
		margin 0 40px 0 0
		font-size 16px
		line-height 16px
		font-family $primary-font
		font-weight $font-weight-primary-400
		color $color-black
