body
	margin 0
	padding 0
	background $base-background-color

//#community-container
//	position relative;
//	width 100%
//	height 100vh
//	overflow-y scroll;
//	overscroll-behavior contain;
//
//#community-container.locked
//	overflow hidden;

#structure
	width 100%
	min-height 100vh
	display grid
	grid-template-rows auto 1fr auto
	background $base-background-color
	grid-template-areas:
		"application-header"\
		"application-main"\
		"application-footer";

	&__main
		grid-area: application-main
		margin: 28px auto 40px auto
