body
	margin 0
	padding 0
	background $base-background-color

#structure
	width 100%
	min-height 100vh
	display grid
	grid-template-rows auto 1fr auto
	background $base-background-color
	grid-template-areas:
		"header"\
		"main"\
		"footer";

	&__main
		float: left
		grid-area: main
		width 100%
		justify-self center
		background: $base-background-color

.structure-container
	position relative
	width: 360px
	margin: 0 auto
	z-index $z-index-structure-container
