.community-team-view
	float left
	width 320px
	padding-bottom: 18px
	margin 0 0 40px
	background $secondary-color
	border-top $secondary-border-color
	border-bottom $secondary-color-border

	&__image
		float left
		width 320px
		height 160px
		padding 0
		margin 0 0 28px 0
		background $white-color
		border-bottom $secondary-color-border-bottom
		overflow hidden

	&__name
		float left
		width 290px
		padding 0
		margin 0 0 24px 15px

		h1
			float left
			width 100%
			padding 0
			margin 0 0 6px 0
			font-family $primary-font
			font-weight $primary-font-weight-400
			font-size 27px
			line-height: 34px
			color $black-color
			text-align left

		h2
			float left
			width 260px
			padding 0
			margin 0
			font-family $font-secondary
			font-style italic
			font-weight $font-weight-secondary-500
			font-size 21px
			line-height 28px
			color $paragraph-color
			text-align left

	&__position
		float left
		width 290px
		margin 0 0 18px 15px

		h2
			float left
			height 32px
			padding 0 12px 0 12px
			margin 0 10px 0 0
			font-family $primary-font
			font-weight $primary-font-weight-400
			font-size 19px
			line-height 32px
			color $white-color
			background $red
			border-bottom $red-border-bottom
			border-radius $border-radius
			text-align center

	&__contact
		float left
		width 31px
		height 31px
		padding 0
		margin 0 8px 0 0
		background $button
		border-bottom $button-border-bottom
		border-radius $border-radius

		&__linkedin-in
		&__mobile-alt
		&__at
			float left
			width 100%
			padding 0
			margin 0
			color $white-color
			text-align center

		&__linkedin-in
			font-size 17px
			line-height 34px

		&__mobile-alt
			font-size 18px
			line-height: 33px

		&__at
			font-size 16px
			line-height: 35px

	&__title
		float left
		width 280px
		padding 0
		margin 0 0 10px 0

		h5
			float left
			padding 0 3px 5px 3px
			margin 0
			font-family $primary-font
			font-weight $primary-font-weight-400
			font-size 19px
			line-height: 19px
			color $black-color
			border-bottom 3px solid #888
			text-align left

	&__detail
		float left
		width 290px
		margin 0 0 20px 15px

	&__buttons
		float left
		width 100%
		padding 0
		margin 0

	&__areas
		float left
		width 290px
		margin 0 0 16px 0

	&__button
		float left
		padding 5px 14px 4px 14px
		margin 0 8px 10px 0
		background $primary-color
		border-bottom $primary-color-border-bottom
		border-radius $border-radius

		h2
			float left
			padding 0
			margin 0
			font-family $primary-font
			font-weight $primary-font-weight-400
			font-size 19px
			line-height 25px
			color $white-color
			text-align center

	&__activities
		float left
		width 290px
		margin 0 0 12px 15px

	&__activity
		float left
		width 260px
		padding 12px 15px 20px 15px
		margin 0 0 14px 0
		background $white-color
		border-bottom $button-border-bottom
		border-radius $border-radius

		h4
			float left
			padding 0
			margin 0 0 12px 0
			font-family $font-secondary
			font-style italic
			font-weight $font-weight-secondary-500
			font-size 21px
			line-height 28px
			color $black-color
			text-align left

		h5
			float left
			padding 6px 12px 6px 12px
			margin 0 0 16px 0
			font-family $primary-font
			font-weight $primary-font-weight-400
			font-size 16px
			line-height 16px
			color $white-color
			background $primary-color
			border-bottom $primary-color-border-bottom
			border-radius $border-radius
			text-align left

		p
			float left
			width 100%
			padding 0
			margin 0
			font-family $primary-font
			font-weight $primary-font-weight-400
			font-size 18px
			line-height 25px
			color $paragraph-color
			text-align left

	&__description
		width 290px
		padding 0
		margin 0 0 22px 15px

		p
			width 100%
			padding 0
			margin 0 0 10px 0
			font-family $primary-font
			font-weight $primary-font-weight-400
			font-size 19px
			line-height 28px
			color $paragraph-color
			text-align left

	&__tagline
		float left
		width 250px
		margin 4px 0 14px 0

		h3
			float left
			padding 0
			margin 0
			font-family $font-secondary
			font-style italic
			font-weight $font-weight-secondary-500
			font-size 23px
			line-height 32px
			color $black-color
			text-align left
