#lga-chat
	width 300px
	padding 0
	margin 0

	&__container
		height 250px
		padding 0

	&__top
		width 280px
		padding 5px 10px

	&__image
		width 30px
		height 30px

	&__title
		width 100px
		padding 0 10px
		margin 0

		h1
			font-size: 13px
			line-height 13px

	&__content
		width 280px
		height 200px
		padding 5px 10px
		overflow-y: scroll

	&__field
		width 280px

		input
			width 230px
			height 30px

		button
			width 30px
			height 33px

.lga-chat__row
	padding 0
	margin 0 0 10px 0

.lga-chat-message
	width 70px
	padding 5px
	margin 0 10px 0 0

	h3
		text-align center
		font-size: 13px
		line-height: 15px

.lga-chat-caret-row
	padding 0
	margin-left: 10px

.lga-chat-caret
	padding 0

.lga-chat-message.right
	width 70px
	padding 5px
	margin 0

	h3
		text-align center
		font-size: 13px
		line-height: 15px

.lga-chat__row.right
	width 90px
	padding-bottom: 10px

.lga-chat-caret-row-right
	padding 0
	margin 0

.lga-chat-caret-right
	padding 0
	margin 0 8px 0 0
