#lga-consultation-form
	width 960px
	padding 18px 0 0 20px
	margin 0 0 30px 20px

	// &__center
	// 	margin 0
	//
	// 	h6
	// 		font-size 22px
	// 		line-height 22px

	&__countryCode
		width 100px

	&__phone
		width 364px

	&__method
		input
		select
			width 466px
			height 46px
			font-size: 17px

	&__mask
		width 360px

	&__check
		margin 2px 0 0 16px
		font-size 21px

	&__title
		float left
		width 890px
		margin-left: 30px

		h1
			width 100%
			margin 0 0 12px 0
			text-align center

	&__message
		width 890px
		margin-left: 30px

		p
			margin 0 0 8px 0
			font-size 16px
			line-height 20px
			padding-bottom: 16px

	&__submit
		width 600px
		margin 0 0 20px 180px

		button
			width 100%
			height 48px
			margin 0 0 10px 10px
			font-size 25px

	&__button
		width 600px
		margin 0 0 20px 180px

	&__id
		width 100%

		p
			font-size 12px

.lga-consultation-half
	width 466px

.lga-consultation-field
	input
	select
	textarea
		font-size 22px

	textarea
		min-width 922px
		max-width 922px
		height 74px
		padding 10px 10px 14px 10px

.lga-consultation-full
	width 942px
