.community-home-placeholder
	width 482px
	height 846px
	margin 0 20px 0 50px

.community-intake
	width 320px

.community-tabs
	width 290px
	height 39px
	margin-left: 130px

.community-tab
	height 38px
	padding 0 23px

	&__container
		width 300px
		height 38px

	h2
		font-size 22px
		line-height 40px

	&__check
		font-size 17px
		line-height 40px

.community-tab.active
	height 38px

.community-intake
	&__form
		width 402px
		padding 18px 0 14px 20px
		margin 0 0 44px 0

		h1
			width 382px

	&__title
		width 382px

	&__title-top
		width 382px

	&__checkbox-holder
		width 382px

	&__input

		input
		select
		textarea
			font-size 22px


		input.areacode
			width calc(0.25 * 100% - 12px)

		input.number
			width calc(0.75 * 100% - 2px)

		select
			width 184px

	&__mask--half
		width 184px

	&__row
		width 382px
		margin 0 10px 20px 0px

		h1
			width 100%
			font-size 32px
			line-height 32px
			margin 0 0 20px 0

		&--half
			float left
			display block
			width 186px
			margin 0 10px 20px 0

			h1
				width 186px
				font-size 32px
				line-height 32px
				margin 0 0 20px 0

			h6
				width 186px

	&__buttons
		button
			width 382px
			font-size 25px

	&__confirmation
		width 382px

		h1
			width 382px
			padding-bottom: 24px
			font-size 28px
			line-height 28px

	&__paragraph
		width 382px

		p
			width 100%
			font-size 16px
			line-height 20px
			padding-bottom: 12px

	&__submit
		width 382px
		padding-bottom: 20px
		margin 12px 0 12px 0

		h3
			width 382px

	&__id
		width 382px

		p
			font-size 12px
