#legal
	width 884px
	padding 42px 50px 28px 50px
	margin 0 0 70px 20px

	h1
		margin 0 0 38px 0
		font-size 25px
		line-height 25px

	h5
		margin 0 0 28px 0
		font-size 18px
		line-height 18px

	h6
		margin 0 0 18px 0
		font-size 16px
		line-height 16px

	p
		margin 0 0 24px 0
		font-size 16px
		line-height 28px

		p.push
			width 830px
			margin 0 0 4px 14px

		p.pushB
			width 822px
			margin 0 0 4px 22px

	&__row
		margin 0 0 22px 0

	&__segment
		margin 0 0 10px 0

	&__button
		width 882px
		padding 20px 0 16px 0

		a
			font-size 21px
			line-height 21px

.legal-section
	float left
	width 100%
	padding 0
	margin 0 0 34px 0

.legal-container
	float left
	width 100%
	padding 0
	margin 0 0 34px 0

.legal-center
	float left
	width 100%
	padding 0
	margin 0 0 34px 0

	h2
		float left
		padding-bottom: 3px
		margin 0 0 16px 0
		font-size 19px
		line-height 28px
		font-family $i-primary-font
		font-weight $i-primary-font-weight
		color $i-black
		border-bottom 3px solid $i-blue

	h3
		float left
		width 100%
		padding 0
		margin 0 0 7px 0
		font-size 17px
		line-height 26px
		font-family $i-primary-font
		font-weight $i-primary-font-weight
		color $i-black
