.one
	width 240px
	padding 22px 20px 18px 20px
	margin-bottom: 14px

	&__headline
		margin-bottom: 16px

		h1
			margin-bottom: 28px
			font-size 28px
			line-height 37px

	&__title
		margin-bottom: 7px

	&__center
		h5
			padding-bottom: 4px
			font-size 18px
			line-height 18px

	&__row
		margin-bottom: 20px

		p
			font-size 17px
			line-height 27px
