#search
	width 1004px
	margin 10px 0 28px 20px

	&__container
		width 922px
		padding 18px 30px 18px 30px

	&__category
		width 227px
		margin 0 30px 20px 0

	&__subcategory
		width 227px
		margin 0 30px 20px 0

	&__select
		width 100%

		select
			height 58px
			font-size 18px
			line-height 56px

	&__mask
		width 206px
		height 56px
		padding 0 20px

		h4
			font-size 18px
			line-height 58px

			&__caret-down
				right 22px
				font-size 20px
				line-height 57px

	&__filter
		width 341px
		margin 0 10px 0 0

		input
			width: 296px
			height 56px
			padding 0 20px
			font-size 19px

	&__reset
		width 56px
		height 56px

	&__tag
		width 40px
		height 32px
		margin -1px 0 0 284px
		border-radius 0 0 8px 8px

		&__times
			font-size 15px
			line-height 58px

	&__resetIcon
		font-size 15px !important
		line-height 39px
