//.community-slider
//	width 360px
//	height 160px
//
//.ng-image-slider .ng-image-slider-container .main
//	width 360px
//	height 180px
//	margin-bottom: 20px
//
//.img-div
//	width 360px
//	height 180px
//
//custom-image
//	width 320px
//	height 180px
//
//custom-image-main
//	width 360px
//	height 180px
