#community-testimonials
	width 984px
	margin 0 0 20px 20px

.community-testimonial
	padding 38px 20px 42px 20px

	&__image
		width 75px
		height 75px
		margin 0 10px 0 0

	p
		margin 0 0 22px 0
		font-size 16px
		line-height 17px

	h6
		margin 0 40px 0 0
		font-size 17px
		line-height 17px
