.validation-field
	&__center
		margin: -20px 0 0 0
		left: 50%

	&__message
		height: 40px

		h6
			min-width 160px
			padding 5px 8px 5px 8px
			font-size 12px
			line-height 16px

	&__holder
		height: 10px
		width: 16px

	&__caret:before
		bottom -7px

	&__caret:after
		bottom: -6px
		left -16px

	&__center.two
		margin-top: -50px
