$select-caret-360 = 15px
$select-caret-375 = 15px
$select-caret-480 = 15px
$select-caret-667 = 15px
$select-caret-768 = 15px
$select-caret-1024 = 15px
$select-caret-1140 = 15px

// $color-paragraph-primary-font-size-mobile = 14px
// $color-paragraph-primary-font-size-desktop = 18px
// $color-paragraph-secondary-font-size-mobile = 10px
// $color-paragraph-secondary-font-size-desktop = 14px

// move
// $color-title-primary-font-size-mobile = 14px
// $color-title-primary-font-size-desktop = 18px

// move
// $color-title-secondary-font-size-mobile = 14px
// $color-title-secondary-font-size-desktop = 18px
