#find
	&__articles
		margin 0 0 10px 0

.find-article
	width 335px
	margin 0 0 10px 0
	padding 24px 25px 24px 25px

	&__title
		margin 0 0 14px 0

		h1
			padding-bottom 7px
			font-size 19px

	&__paragraph
		margin 0 0 12px 0

		p
			margin 0 0 10px 0
			font-size 15px
			line-height 27px

	&__button
		h4
			height 44px
			padding 0 22px
			font-size 15px

