.find-health
	width 974px
	margin 0 0 20px 25px
	padding 15px 30px 30px 30px

	p
		margin 0 0 18px 0

	&__icon
		width 30px
		height 30px
		margin -14px 0 0 -16px
		font-size: 18px

	&__bar
		margin-top -15px
		margin-left: -38px

	&__title
		margin-bottom: 16px

		h1
			font-size 24px
			line-height 26px

	&__versions
		margin-bottom: 16px

		h2
			font-size 12px
			line-height 20px

	&__update
		h3
			font-size 12px
			line-height 20px
			margin-bottom: 16px
