.dynamic-quote
	width: 636px
	margin 10px 143px

	h1
		margin 0 0 10px 0
		font-size 15px
		line-height 22px

	h2
		margin 0 0 10px 0
		font-size 14px
		line-height 20px

	h3
		margin 0 0 10px 0
		font-size 13px
		line-height 19px

	&__name
		width: 240px

		h4
			margin 0 20px 0 0
			font-size 13px
			line-height 17px

		h5
			margin 0 20px 0 0
			font-size 13px
			line-height 17px

		h6
			margin 0 20px 0 0
			font-size 12px
			line-height 18px
