$primary-border = 1px solid $primary-border-color

$secondary-border = 1px solid $secondary-border-color
$secondary-dotted-border = 1px solid $secondary-dotted-border-color
$secondary-image-border = 1px solid $secondary-image-border-color
$secondary-title-border-bottom = 3px solid $secondary-title-border-bottom-color

$secondary-button-border = 1px solid $secondary-button-border-color

$tertiary-border = 1px solid $tertiary-border-color
$tertiary-border-bottom = 3px solid $tertiary-border-bottom-color
$tertiary-button-inactive-border = 1px solid $tertiary-button-border-inactive-color
$tertiary-button-inactive-border-bottom = 3px solid $tertiary-button-border-bottom-inactive-color

$accent-border = 1px solid $accent-border-color

$black-border = 1px solid $black-border-color

$base-button-active-border = 1px solid $base-button-active-border-color
