$primary-border = 1px solid $primary-border-color
$secondary-border = 1px solid $secondary-border-color
$secondary-dotted-border = 1px solid $secondary-dotted-border-color

$accent-border = 1px solid $accent-border-color
$black-border = 1px solid $black-border-color
