// Primary = white
$primary-background-color = $white-color

//$primary-color = #FBFCED
$primary-color = #E1DEDB
$primary-color = #F7F4F0
$primary-color = #fbfcee
$primary-border-color = #B4B2AF


$secondary-color = #F7F4F0
$secondary-color = $white-color
//$secondary-color =  #c9d5e3
$secondary-border-color = #d8d8d8
$secondary-dotted-border-color = #d8d8d8


$tertiary-color = #f2f2f2
$tertiary-border-color = #d2d2d2

// Base = solid
$base-color = #fffffa
$base-color = #cfcfcf
$base-color = #D9CCBF
$base-color = #d6d6d6
$base-color = #FAF0CA
$base-color = #f1f1f1
//$base-color = #fdfaec
//$base-color = #e8e8e8
//$base-color = #f8f8f8
//$base-color = #d8d8d8
$base-border-color = #d8d8d8


$accent-color = #ffff0a
$accent-color = #ECEC09
$accent-color = #c3d021
$accent-text-color = $white-color
$accent-border-color = #6b7212
$accent-color-light = #FBFCED

// FORMS
$field-color = #fff
$field-color-border = #c2c2c2
$field-color-disabled = #e0e0e0
$field-color-disabled-border = #c8c8c8

// ACCENTS
$bullet-color = #777
$bullet-color-border = 1px solid #777

$handle-color = $black-color
$handle-border-color = $black-border-color


// BASE
$white-color = #FFFFFF
$white-border-color = #b8b8b8

// FIND A HOME FOR THESE
$black-color = #585858
$black-border-color = #000

$grey-color = #555
$grey-border-color = #333

$temporary-background = #d8d8d8

// TEXT
$color-title = #787878

// $color-title-underline
$color-underline = $accent-color

$color-label-on-primary = #e0e0e0
$color-label-on-secondary = #777

$color-title = #787878
$color-title-primary = #FFF
// $color-title-primary-border = 1px solid $color-title
$color-title-primary-border-bottom = 3px solid $color-title

$secondary-title-color = #FFF
// $color-title-secondary-border = 1px solid $color-title-secondary
$color-title-secondary-border-bottom = 3px solid $color-title-secondary

$paragraph-color = #666
$paragraph-color-secondary = #666
// finish naming convention
// $paragraph-color-on-primary = #666
// $paragraph-color-on-secondary = #666
