
//$primary-background-color = #FBFCED
$primary-background-color = #E1DEDB
$primary-background-color = #F7F4F0
$primary-background-color = #fbfcee
$primary-border-color = #B4B2AF


$secondary-background-color = #F7F4F0
$secondary-background-color = $white-color
//$secondary-background-color =  #c9d5e3
$secondary-border-color = #d8d8d8
$secondary-dotted-border-color = #d8d8d8

$secondary-image-background-color = #e2e2e2
$secondary-image-border-color = $black-color

$secondary-title-color = $black-color
$secondary-title-border-bottom-color = $accent-color

$secondary-button-color = $accent-color
$secondary-button-text-color = $black-color
$secondary-button-border-color = $accent-border-color

$secondary-paragraph-color = #888



$tertiary-color = #f2f2f2
$tertiary-background-color = #d6fc35
$tertiary-border-color = #d2d2d2

// Base = solid
$base-background-color = #fffffa
$base-background-color = #cfcfcf
$base-background-color = #D9CCBF
$base-background-color = #d6d6d6
$base-background-color = #FAF0CA
$base-background-color = #f1f1f1
//$base-background-color = #303038
//$base-background-color = #fdfaec
//$base-background-color = #e8e8e8
//$base-background-color = #f8f8f8
//$base-background-color = #d8d8d8
$base-border-color = #d8d8d8
$base-title-color = $black-color
$base-paragraph-color = #666

$white-color = #fff

$accent-color = #ffff0a
$accent-color = #ECEC09
$accent-color = #c3d021
//$accent-color = #b1ad9d
//$accent-color = #6f6c62
$accent-text-color = $black-color
$accent-border-color = #6b7212
$accent-color-light = #FBFCED

// FORMS
$field-color = #fff
$field-color-border = #c2c2c2
$field-color-disabled = #e0e0e0
$field-color-disabled-border = #c8c8c8

// ACCENTS
$bullet-color = #777
$bullet-color-border = 1px solid #777

$handle-color = $black-color
$handle-border-color = $black-border-color


// BASE
$white-color = #FFFFFF
$white-border-color = #b8b8b8

// FIND A HOME FOR THESE
$black-color = #585858
$black-border-color = #000

$grey-color = #555
$grey-border-color = #333

$temporary-background = #d8d8d8

// TEXT
$color-title = #787878

// $color-title-underline
$color-underline = $accent-color

$color-label-on-primary = #e0e0e0
$color-label-on-secondary = #777

$color-title = #787878
$color-title-primary = #FFF
// $color-title-primary-border = 1px solid $color-title
$color-title-primary-border-bottom = 3px solid $color-title

$paragraph-color = #666
// finish naming convention
// $paragraph-color-on-primary = #666
// $paragraph-color-on-secondary = #666
