$primary-font: 'calder-lc', sans-serif
$primary-font-weight-400: 400

$secondary-font: "usual", sans-serif
$secondary-font-weight-400: 400
$secondary-font-weight-600: 600
$secondary-font-weight-700: 700

$alternate-font: 'calder-script', sans-serif
$alternate-font-weight-400: 400


$select-caret-360: 15px
$select-caret-375: 15px
$select-caret-480: 15px
$select-caret-667: 15px
$select-caret-768: 15px
$select-caret-1024: 15px
$select-caret-1140: 15px

$search-font-size-360: 15px
$search-font-size-375: 15px
$search-font-size-480: 15px
$search-font-size-667: 15px
$search-font-size-768: 15px
$search-font-size-1024: 15px
$search-font-size-1140: 15px

// var(--paragraph-color)-primary-font-size: -mobile = 14px
// var(--paragraph-color)-primary-font-size: -desktop: = 18px
// var(--paragraph-color)-secondary-font-size: -mobile = 10px
// var(--paragraph-color)-secondary-font-size: -desktop: = 14px

// move
// var(--color-title)-primary-font-size: -mobile = 14px
// var(--color-title)-primary-font-size: -desktop: = 18px

// move
// var(--color-title)-secondary-font-size: -mobile = 14px
// var(--color-title)-secondary-font-size: -desktop: = 18px
