@import url('//use.typekit.net/fko6qxv.css');
// @import url("https://use.typekit.net/ymj5guo.css");

$primary-font = 'usual', sans-serif
$primary-font-weight-400 = 400

$font-secondary = "ff-basic-gothic-web-pro", sans-serif
$font-weight-secondary-500 = 500


$select-caret-360 = 15px
$select-caret-375 = 15px
$select-caret-480 = 15px
$select-caret-667 = 15px
$select-caret-768 = 15px
$select-caret-1024 = 15px
$select-caret-1140 = 15px

// $paragraph-color-primary-font-size-mobile = 14px
// $paragraph-color-primary-font-size-desktop = 18px
// $paragraph-color-secondary-font-size-mobile = 10px
// $paragraph-color-secondary-font-size-desktop = 14px

// move
// $color-title-primary-font-size-mobile = 14px
// $color-title-primary-font-size-desktop = 18px

// move
// $color-title-secondary-font-size-mobile = 14px
// $color-title-secondary-font-size-desktop = 18px
