$height_donate_field_360: 42px
$height_donate_field_375: 42px
$height_donate_field_480: 42px
$height_donate_field_667: 42px
$height_donate_field_768: 42px
$height_donate_field_1024: 42px
$height_donate_field_1140: 42px

$heigh_search_field_360: 42px
$heigh_search_field_375: 42px
$heigh_search_field_480: 42px
$heigh_search_field_667: 42px
$heigh_search_field_768: 42px
$heigh_search_field_1024: 42px
$heigh_search_field_1140: 42px