$margin-top-page-360: 28px
$margin-top-page-375: 28px
$margin-top-page-480: 28px
$margin-top-page-667: 28px
$margin-top-page-768: 28px
$margin-top-page-1024: 28px
$margin-top-page-1140: 28px

$margin-bottom-page-360: 28px
$margin-bottom-page-375: 28px
$margin-bottom-page-480: 28px
$margin-bottom-page-667: 28px
$margin-bottom-page-768: 28px
$margin-bottom-page-1024: 28px
$margin-bottom-page-1140: 28px

$margin-bottom-search-field-360: 20px
$margin-bottom-search-field-375: 20px
$margin-bottom-search-field-480: 20px
$margin-bottom-search-field-667: 20px
$margin-bottom-search-field-768: 20px
$margin-bottom-search-field-1024: 20px
$margin-bottom-search-field-1140: 20px