
$margin-top-page-360 = 48px
$margin-top-page-375 = 48px
$margin-top-page-480 = 48px
$margin-top-page-667 = 48px
$margin-top-page-768 = 48px
$margin-top-page-1024 = 48px
$margin-top-page-1140 = 48px

$margin-bottom-page-360 = 48px
$margin-bottom-page-375 = 48px
$margin-bottom-page-480 = 48px
$margin-bottom-page-667 = 48px
$margin-bottom-page-768 = 48px
$margin-bottom-page-1024 = 48px
$margin-bottom-page-1140 = 48px
