.lgb-one
	float left
	width 240px
	padding 22px 20px 18px 20px
	margin-bottom: 14px
	background $secondary
	border-bottom $secondary-border-bottom

	&__headline
		float left
		width 100%
		padding 0
		margin-bottom: 16px

		h1
			float left
			width 100%
			padding 0
			margin-bottom: 28px
			font-family $font-primary
			font-weight $font-primary-weight-600
			font-size 28px
			line-height 37px
			color $color-black
			text-align left

	&__title
		float left
		width 100%
		padding 0
		margin-bottom: 7px
		text-align left

	&__center
		display inline-block
		margin 0

		h5
			float left
			padding-bottom: 4px
			margin 0
			font-family $font-primary
			font-weight $font-primary-weight-600
			font-size 18px
			line-height 18px
			color $paragraph
			border-bottom 3px solid $color-primary
			text-align center

	&__row
		float left
		width 100%
		padding 0
		margin-bottom: 20px

		p
			float left
			width 100%
			padding 0
			margin 0
			font-family $paragraph-font
			font-weight $paragraph-font-weight
			font-size 17px
			line-height 27px
			color $paragraph
			text-align left
