#find
	width 984px
	margin 0 20px $margin-bottom-page-1024 20px
	padding 24px 30px 25px 30px

	&__aside
		width 120px

	&__content
		width: 752px
		margin 0 50px 10px 0

	&__dynamic
	&__bottom
		margin 0 0 10px 0
