.article-find
	width 617px
	padding 22px 30px 28px 30px

	&__top
		width 427px
		margin 0 40px 0 0

	&__aside
		display block
		float left
		width 110px
		padding 15px 14px 0 14px
		margin-bottom: 38px
		background $brown
		border $color-white-border
		border-radius: $radius

	&__title
		margin-bottom: 20px

		h1
			max-width 377px
			padding 10px 25px 10px 25px
			font-size 17px
			line-height 28px

	&__purchase
		height 45px
		margin 0 10px 34px 0

		h3
			padding 0 26px 0 26px
			font-size 16px
			line-height 47px

	&__arrow
		width 45px
		height 45px
		margin-bottom: 34px

		&__arrow-left
			font-size 19px
			line-height 47px

	&__square.author
	&__square.category
		display none

	&__square
		width 100%
		margin-bottom: 24px

		h2
			width 90px
			padding 6px 10px 6px 10px
			font-size 15px
			line-height 23px
			background: $color-white
			text-align center

	&__center
		margin-bottom: 9px

		h5
			font-size 14px
			line-height 14px

	&__description
		margin-bottom: 42px

		p
			font-size 16px
			line-height 29px

		p.small
			display none

		p.large
			display block

	&__headshot
		float left
		width 80px
		height 80px
		padding 0
		margin 0 0 24px 15px
		border-radius: $radius-circle
		background #f2f

		img
			float left
			width 100%
			height 100%
			border-radius: $radius-circle

	&__button
		width 615px
		height 58px
		margin-bottom: 30px

		h4
			font-size 18px
			line-height 58px

	&__statement
		margin-bottom: 10px

		h3
			margin 0 60px 0 24px
			font-size 17px
			line-height 50px

	&__bubble
		width 447px
		padding 16px 30px 18px 30px
		margin-left: 110px

		p
			font-size 16px
			line-height 29px

	&__caret
		margin 0 0 8px 500px

	&__picture
		width 50px
		height 50px
