// FIND A HOME FOR THESE
$color-black = #585858

// ELEMENTS
$color-primary = #E1DEDB
$color-primary = #FBFCED
$color-primary-border = #B4B2AF

$color-secondary = #F7F4F0
$color-secondary = #fff
$color-secondary-border = #d0d0d0
$color-tertiary = #f2f2f2
$color-tertiary-border = #d2d2d2

$color-background = #fffffa
$color-background = #cfcfcf
$color-background = #D9CCBF
$color-background = #d6d6d6
$color-background = #FAF0CA
$color-background = #f1f1f1
$color-background = #fdfaec
$color-background = #e8e8e8
$color-background-border = #d8d8d8

$color-banner = #c3d021
$color-banner-border = #000

// BASE
$color-white = #FFFFFF
$color-white-border = #b8b8b8

$color-black = #000
$color-black-border = #000

$color-grey = #555
$color-grey-border = #333

$color-accent = #ffff0a
$color-accent = #ECEC09
$color-accent = #c3d021

// Replace or absorb this?
$color-accent-light = #FBFCED
$color-accent-border = #10040B

// FORMS
$color-field = #fff
$color-field-border = #c2c2c2
$color-field-disabled = #e0e0e0
$color-field-disabled-border = #c8c8c8

// ACCENTS
$color-bullet = #777
$color-bullet-border = 1px solid #777
$color-handle = $color-black
$color-handle-border = $color-black-border

// TEXT
$color-title = #787878

// $color-title-underline
$color-underline = $color-accent

$color-label-on-primary = #e0e0e0
$color-label-on-secondary = #777

$color-title = #787878
$color-title-primary = #FFF
// $color-title-primary-border = 1px solid $color-title
$color-title-primary-border-bottom = 3px solid $color-title

$color-title-secondary = #FFF
// $color-title-secondary-border = 1px solid $color-title-secondary
$color-title-secondary-border-bottom = 3px solid $color-title-secondary

$color-paragraph = #666
$color-paragraph-secondary = #666
// finish naming convention
// $color-paragraph-on-primary = #666
// $color-paragraph-on-secondary = #666
