#lga-about-slider
	width 320px
	height 182px
	margin 0 0 22px 20px
	padding 0

	.main
		height 182px !important

#lga-about-slider-bullets
	margin: 0 0 24px 0

.lga-about-slider-bullet
	width 14px
	height 14px
	margin 0 6px
