#community-header-banner
	float: left
	width: 100%
	margin-bottom: 10px
	background: #c8c8c8

	&__container
		position relative
		width 320px
		margin 0 auto
		padding 0

		h1
			float left
			width 100%
			margin 0
			padding 0
			font-family $font-primary
			font-weight $font-weight-primary-400
			font-size 17px
			line-height 35px
			color $color-black
			border none
			text-align center
