#community-header-banner
	float: left
	width: 100%
	margin-bottom: 10px
	background: #c8c8c8

	&__container
		width 320px

		h1
			float: left
			width: 100%
			font-size 17px
			line-height 35px
			text-align: center
