#header
	grid-area application-header
	float left
	width 100%
	margin 0
	padding 15px 0 15px 0
	background $secondary-background-color
	border-bottom $secondary-border

	&__navigation
	&__consultation
	&__language
		display none

	&__container
		position relative
		width 340px
		margin 0 auto
		padding 0

	&__brand
		float left
		width 316px
		margin 0
		padding 0

		h1
			float left
			margin 0
			padding 0
			font-family $primary-font
			font-weight $primary-font-weight-400
			font-size 18px
			line-height 25px
			color $black-color
			text-align left
			cursor pointer

		h2
			float left
			width 100%
			margin 0
			padding 0
			font-family $alternate-font
			font-weight $alternate-font-weight-400
			font-size 24px
			line-height 24px
			color #787878
			text-align left
			cursor pointer

	&__outline
		float left
		width 24px
		height 24px
		padding 0
		margin 0 10px 1px 0
		background $accent-color
		border-radius 8px 0 8px 0
		cursor pointer

	&__white
		float left
		width 8px
		height 8px
		background $white-color
		margin 8px 0 0 8px

	&__dots
		float right
		width 20px
		margin 3px 0 0 0
		padding 0
		cursor pointer

.header-banner-dot-row
	float: left
	width: 100%
	margin: 0 0 4px 0
	padding: 0

.header-banner-dot
	float right
	width 3px
	height 3px
	background $black-color
	margin 0 0 0 4px
	padding 0
	border-radius 2px
//border-radius $radius-circle

.header-banner-dot-row:last-child
.header-banner-dot:last-child
	margin 0
