#header
	grid-area application-header
	float left
	width 100%
	margin 0
	padding 8px 0 0 0
	background $primary-background-color
	border-bottom $primary-on-base-border
	overflow: hidden

	&__navigation
	&__consultation
	&__language
		display none

	&__container
		position relative
		width 340px
		margin 0 auto
		padding 0

	&__brand
		float left
		width 312px
		margin 0
		padding 0

		h1
			float left
			margin 10px 0 1px 0
			padding 0
			font-family $primary-font
			font-weight $primary-font-weight-400
			font-size 17px
			line-height 17px
			color $black-color
			text-align left
			focus none
			cursor pointer

		h2
			float left
			margin 0
			padding 0
			font-family $alternate-font
			font-weight $alternate-font-weight-400
			font-size 24px
			line-height 24px
			color #a8a8a8
			text-align left
			focus none
			cursor pointer

	&__logo
		float left
		width 62px
		overflow: hidden

	&__two
	&__three
		position absolute
		width: 25px
		margin: 16px 0 0 24px

		svg
			width 52px
			margin: 0 0 0 -14px

	&__three
		display: none
		margin: 25px 0 0 -16px

	&__dots
		float right
		width 20px
		margin 9px 0 0 0
		padding 0
		cursor pointer

.header-leaf
	float: left
	width: 35px
	//background: #ccc

	svg
		float: left
		width: 62px
		margin: 0 0 0 -14px

.header-banner-dot-row
	float: left
	width: 100%
	margin: 0 0 4px 0
	padding: 0

.header-banner-dot
	float right
	width 3px
	height 3px
	background $teal-color
	margin 0 0 0 4px
	padding 0
	border-radius $radius

.header-banner-dot-row:last-child
.header-banner-dot:last-child
	margin 0
