#donate-form
	float: left
	width 100%
	margin 0 0 36px 0
	padding 18px 15px 12px 15px
	border $primary-on-base-border
	box-sizing border-box
	background: #c8c8c8
	border-radius $radius

	h1
		float: left
		width: 100%
		margin 0 0 16px 0
		padding 0
		font-family $primary-font
		font-weight $primary-font-weight-400
		font-size 16px
		line-height 16px
		color $color-title
		text-align center

	&__section
		float: left
		width: 100%
		margin: 0
		padding: 0

	&__title
		float: left
		width: 100%
		margin: 0
		padding: 0

	&__buttons
		display grid
		width 100%
		margin 0 0 15px 0
		padding 0
		grid-template-columns 1fr 1fr 1fr
		grid-template-rows auto
		grid-row-gap 8px
		grid-column-gap 8px

	&__card
		&.active
			background: $blue-color

		h5
			display flex
			width: 100%
			height 100%
			margin 0
			padding 0
			font-family $primary-font
			font-weight $primary-font-weight-500
			font-size 20px
			color #fff
			justify-self center
			align-items center
			justify-content: center

	&__holder
		float: left
		width: 96px
		height: 100%
		margin: 10px 0 0 101px
		padding: 0

	&__loading
		float: left
		width: 100%
		margin: 0
		padding: 0

	&__background
		float: left
		width: 100%
		height: 7px
		margin: 0
		padding: 0
		background: $primary-background-color
		border-radius $radius

	&__line
		float: left
		width: 198px
		height: 7px
		margin: 0
		padding: 0
		background: blue
		transition-property: width;
		transition-duration: 0.9s;
		transition-timing-function: linear;
		border-radius $radius

	&__print
		position absolute
		margin 0 0 0 18px
		padding 0
		font-size 20px
		line-height 30px
		align-items center

	&__picture
		float: left
		width 100%
		height: 130px
		margin 0
		padding 0
		background: #ff9966

.donate-form-payment
	display flex
	width: 100%
	height 100%
	margin 0
	padding 0
	font-size 36px
	color $primary-title-color
	align-items center
	justify-content center

//.donate-form-apple:nth-child(2)
.donate-form-apple:last-child
	margin: 0

.donate-form-apple
	float left
	width 100%
	height 48px
	margin 0 0 15px 0
	padding 0
	font-family $primary-font
	font-weight $primary-font-weight-400
	border-radius: $radius
	border blue
	font-size 20px
	color #fff
	text-align center
	box-sizing border-box
	background #33333b

.donate-form-cards
	float: left
	display flex
	width: 24px
	height: 100%
	margin 0 10px 0 0
	padding 0
	font-size 23px
	color $primary-field-caret-color
	align-items center
	--fa-primary-color $primary-background-color
	--fa-secondary-color $primary-background-color
	--fa-primary-opacity 1
	--fa-secondary-opacity 1

	&:last-child
		margin: 0

.donate-form-field
	float: left
	width: 100%
	margin: 0
	padding: 0

	input
		float left
		width 100%
		height: 42px
		margin 0
		padding 0
		font-family $primary-font
		font-weight $primary-font-weight-400
		border $secondary-button-border
		border-radius $radius
		font-size 15px
		color: #000
		background #fff
		appearance none
		-webkit-appearance none
		-moz-appearance none
		outline none
		text-align center
		box-sizing border-box

.donate-form-section-two
	display grid
	width: 100%
	margin: 0
	padding: 0
	grid-template-columns 1fr
	//grid-column-gap 10px
	//grid-row-gap 10px

.donate-form-section-three
	display grid
	width: 100%
	margin: 0
	padding: 0
	grid-template-columns 1fr 1fr 1fr
	grid-column-gap 10px

.donate-form-section
	float: left
	width: 100%
	margin: 0 0 15px 0
	padding: 0

	h1
		display inline-block
		margin 0 0 12px 0
		padding 0 30px
		font-family $primary-font
		font-weight $primary-font-weight-400
		font-size 21px
		line-height 34px
		color $color-title
		text-align center

	p
		width 100%
		margin 0 0 15px 0
		padding 0
		font-family $secondary-font
		font-weight $secondary-font-weight-400
		font-size 14px
		line-height 25px
		color $primary-paragraph-color
		text-align center

		span
			margin 0
			padding 0 0 7px 0
			border-bottom 5px solid $blue-color

	label
		float left
		width 100%
		margin 0 0 8px 0
		padding 0
		font-family $primary-font
		font-weight $primary-font-weight-500
		font-size 11px
		line-height 13px
		color #000
		text-align left

	button
		float left
		width 100%
		height 48px
		margin 0
		padding 0
		font-family $primary-font
		font-weight $primary-font-weight-500
		font-size 20px
		line-height: 51px
		color #fff
		background blue
		border $primary-button-active-border
		border-bottom $secondary-title-border-bottom
		border-radius: $radius
		text-align center
		outline none
		border none
		user-select none
		box-sizing border-box
		cursor pointer

	button[disabled]
		background $primary-button-background-inactive-color
		border $base-on-primary-border
		color $primary-button-inactive-border
		box-shadow none

.donate-form-button
	float left
	width 100%
	margin 0
	padding 0
	border-radius: $radius
	background: #33333b
	text-align center
	outline none
	border none
	user-select none
	box-sizing border-box
	cursor pointer

	h2
		display flex
		float: left
		width: 100%
		height: 34px
		margin 0
		padding 0
		font-family $primary-font
		font-weight $primary-font-weight-400
		font-size 15px
		color #fff
		justify-self center
		align-items center
		justify-content: center

.donate-form-button:last-child
	margin: 0
