#donate-progress
	float: left
	width: 320px
	padding: 10px 0
	margin: 0 0 30px 10px
	box-sizing border-box

	&__area
		float: left
		width: 100%

	&__lines
		float: left
		width: 284px
		height: 8px
		margin: 13px 16px 0 16px
		padding: 0

	&__background
		float: left
		width: 100%
		height: 8px
		margin: 0
		padding: 0
		background: $grey-color

	&__holder
		position absolute
		width: 280px
		margin: 0 0 0 10px
		z-index: 999

	&__active
		float: left
		width: 0
		height: 8px
		margin: 0
		background: $blue-color
		transition-property: width;
		transition-duration: 0.2s;
		transition-timing-function: linear;

		&.product
			width 33%

		&.payment
			width 66%

		&.complete
			width 100%

	&__dots
		position absolute
		margin: 0
		z-index: 9999

.donate-progress
	&-sections
		float: left
		width: 100%
		margin: 0
		padding: 0

	&-section
		float: left
		width: 50px
		margin: 0 40px 0 0
		padding: 0

		h1
			float: left
			width: 100%
			margin: 0 0 6px 0
			padding: 0
			font-family $primary-font
			font-weight $primary-font-weight-500
			font-size 10px
			line-height 20px
			color #a8a8a8
			text-align center
			cursor: pointer

		h1.active
			color $primary-title-color

		&__outline
			float: left
			width: 34px
			height: 34px
			margin: 0 0 0 10px
			padding: 4px
			box-sizing border-box
			background: $primary-background-color
			border-radius $radius-circle

		&__circle
			float: left
			width: 100%
			height: 100%
			background: $white-color
			padding: 0
			border-radius $radius-circle
			cursor pointer
			z-index: 99999

			&.active
				background: $blue-color

	&-section:last-child
		margin: 0

.donate-progress-check
	float: left
	display flex
	width: 100%
	height: 100%
	margin 0
	padding 0
	font-size 15px
	color $gold-color
	align-items center
	justify-content center
	box-sizing border-box
