
#donate-progress
	width: 492px
	margin: 0 0 30px 10px
	padding: 10px 0

	&__lines
		width: 439px
		height: 8px
		margin: 13px 16px 0 16px

	&__background
		height: 8px

	&__holder
		width: 376px

	&__active
		height: 8px

.donate-progress
	&-section
		width: 73px
		margin: 0 66px 0 0

		h1
			margin: 0 0 6px 0
			font-size 14px
			line-height 20px

		&__outline
			width: 34px
			height: 34px
			margin: 0 0 0 10px
			padding: 4px

.donate-progress-check
	font-size 12px
