#header
	padding 15px 0 15px 0

	&__container
		width 355px

	&__brand
		width 316px

		h1
			font-size 18px
			line-height 25px

		h2
			font-size 24px
			line-height 24px

	&__outline
		width 24px
		height 24px
		margin 0 10px 1px 0

	&__white
		width 8px
		height 8px
		margin 8px 0 0 8px

	&__dots
		width 20px
		margin 3px 0 0 0

.header-banner-dot-row
	margin: 0 0 4px 0

.header-banner-dot
	width 3px
	height 3px
	margin 0 0 0 4px
